In [1]:
import pandas as pd
import os

In [2]:
# new df

In [3]:
INTERIM_FOLDERPATH = '../data/interim'

In [4]:
footy_team_names_fuzzy_for_manual_check = pd.read_csv(os.path.join(INTERIM_FOLDERPATH, 
                                                                   'footy_team_names_fuzzy_for_manual_check.csv'))
footy_team_names_fuzzy_for_manual_check

,team_name,country,country_code,bf_team_0,score_0,bf_team_1,score_1,bf_team_2,score_2,bf_team_3,...,score_8,bf_team_9,score_9,bf_team_10,score_10,bf_team_11,score_11,bf_team_12,score_12,row_type
0,Brisbane Roar,australia,AU,Brisbane Roar,100,Brisbane,90,WDSC Wolves FC Brisbane,86,Brisbane Strikers,...,54,Port Melbourne Sharks,49,Ceres Negros,48,Melbourne Victory,47,Sydney,45,bf_team_names
1,Brisbane Roar,australia,AU,0,100,0,90,0,86,0,...,54,0,49,0,48,0,47,0,45,name_matching
2,Wellington Phoenix,australia,AU,Wellington Phoenix,100,Wellington Poenix,97,Wellington,90,Ben,...,46,Campbelltown City,46,Western United,44,Bulleen Lions,43,Peninsula Power,42,bf_team_names
3,Wellington Phoenix,australia,AU,0,100,0,97,0,90,0,...,46,0,46,0,44,0,43,0,42,name_matching
4,Western Sydney Wanderers,australia,AU,Western Sydney Wanderers,100,Sydney,90,Western Sydney,90,Sydney United 58,...,86,Test,64,A,60,Ben,60,West Adelaide,59,bf_team_names
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,Santa Cruz,brazil,BR,0,100,0,95,0,95,0,...,90,0,90,0,86,0,86,0,86,name_matching
1074,Yokohama,japan,JP,Yokohama FM,95,Yokohama FC,95,Yokohama SCC,90,Yokohama F Marinos,...,56,Tokoha University SC,56,Matsumoto Yamaga FC,56,Tokuyama University,56,R. Velho Takamatsu SC,56,bf_team_names
1075,Yokohama,japan,JP,0,95,0,95,0,90,0,...,56,0,56,0,56,0,56,0,56,name_matching
1076,Inter Miami,usa,US,Inter Miami CF,95,Inter Miami II,95,Inter Miami 2,95,Inter,...,67,Miami United SC,66,FC Miami City,64,Serbia,60,Miami Beach CF,59,bf_team_names
1077,Inter Miami,usa,US,0,95,0,95,0,95,0,...,67,0,66,0,64,0,60,0,59,name_matching

In [5]:
# previous work

In [7]:
previous_df = pd.read_csv('reference/teamnames_manualmatch.csv')
previous_df

,row_type,Column1,team_name,country,country_iso,bf_team1,bf_fuzzy1,bf_team2,bf_fuzzy2,bf_team3,...,bf_team10,bf_fuzzy10,bf_team11,bf_fuzzy11,bf_team12,bf_fuzzy12,bf_team13,bf_fuzzy13,manual_insertion1stround,manual_insertion2ndround
0,bf_teamnames,22,Aldosivi,Argentina,AR,Aldosivi,100,CA Aldosivi Reserves,90,LDU,...,CA Deportivo,50,Palestino,47,Deportivo Riestra,45,Independiente Rivadavia,45,NaN,NaN
1,names_match,22,Aldosivi,Argentina,AR,1,100,0,90,0,...,0,50,0,47,0,45,0,45,NaN,NaN
2,bf_teamnames,11,Argentinos Juniors,Argentina,AR,Argentinos Juniors,100,Argentinos Juniors Res,95,Argentinos Juniors Reserves,...,Argentino de Quilmes,68,CA Argentinos 25 Mayo,67,Argentino Merlo,67,Boca Juniors Res,67,NaN,NaN
3,names_match,11,Argentinos Juniors,Argentina,AR,1,100,0,95,0,...,0,68,0,67,0,67,0,67,NaN,NaN
4,bf_teamnames,13,Arsenal,Argentina,AR,Arsenal FC,95,Arsenal FC (Arg),90,Arsenal de Sarandi,...,Sansinena,62,Argentina,62,Barracas Central,61,Real Pilar FC,61,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,names_match,8,Sporting KC,United States,US,1,80,0,58,0,...,0,50,0,50,0,50,1,50,NaN,NaN
1116,bf_teamnames,93,Toronto,United States,US,Toronto FC,95,Toronto FC II (USL),90,Toronto FC II,...,Sacramento Republic,51,El Farolito,51,Orlando City II,51,San Antonio Scorpions,51,NaN,NaN
1117,names_match,93,Toronto,United States,US,1,95,0,90,0,...,0,51,0,51,0,51,0,51,NaN,NaN
1118,bf_teamnames,3,Vancouver Whitecaps,United States,US,Vancouver Whitecaps,100,PSV,60,Haiti,...,TSS FC Rovers,48,Colorado Switchbacks FC,48,Lane United FC,48,North Texas SC,48,NaN,NaN
1119,names_match,3,Vancouver Whitecaps,United States,US,1,100,0,60,0,...,0,48,0,48,0,48,0,48,NaN,NaN

In [8]:
previous_df.columns

Index(['row_type', 'Column1', 'team_name', 'country', 'country_iso',
       'bf_team1', 'bf_fuzzy1', 'bf_team2', 'bf_fuzzy2', 'bf_team3',
       'bf_fuzzy3', 'bf_team4', 'bf_fuzzy4', 'bf_team5', 'bf_fuzzy5',
       'bf_team6', 'bf_fuzzy6', 'bf_team7', 'bf_fuzzy7', 'bf_team8',
       'bf_fuzzy8', 'bf_team9', 'bf_fuzzy9', 'bf_team10', 'bf_fuzzy10',
       'bf_team11', 'bf_fuzzy11', 'bf_team12', 'bf_fuzzy12', 'bf_team13',
       'bf_fuzzy13', 'manual_insertion1stround', 'manual_insertion2ndround'],
      dtype='object')

In [15]:
previous_df[~previous_df['manual_insertion1stround'].isna()]

,row_type,Column1,team_name,country,country_iso,bf_team1,bf_fuzzy1,bf_team2,bf_fuzzy2,bf_team3,...,bf_team10,bf_fuzzy10,bf_team11,bf_fuzzy11,bf_team12,bf_fuzzy12,bf_team13,bf_fuzzy13,manual_insertion1stround,manual_insertion2ndround
390,bf_teamnames,0,Málaga CF,Spain,ES,Pontevedra CF,86,Alhaurin de la Torre CF,86,Atletico Sanluqueno CF,...,Los Villares CF,86,CF San Rafae,86,Huercal-Overa CF,86,Malaga,86,1.0,NaN
424,bf_teamnames,8,Sevilla II,Spain,ES,Sevilla,95,Deportivo Alaves II,86,Atletico Madrid II,...,FC Cartagena II,86,Recreativo Huelva II,86,Real Betis Balompie II,86,Sevilla B,86,1.0,NaN
630,bf_teamnames,21,Queens Park Rangers,England,GB,Rangers,90,Queens Park,90,South Park,...,Brora Rangers,66,Carrick Rangers,65,Deeping Rangers,65,QPR,64,1.0,NaN
676,bf_teamnames,3,Hapoel Acre,Israel,IL,APOEL,90,Hapoel Rishon Lezion,86,Hapoel Petach Tikva,...,Hapoel Tel Aviv Youth,86,Hapoel Pardesya-Noam,86,Hapoel Beer Sheva Youth,86,Hapoel Akko,86,1.0,NaN
916,bf_teamnames,17,Associação Académica de Coimbra OAF,Portugal,PT,Academico de Viseu,86,Academica Coimbra-SF,86,Desportivo de Alcains,...,Sporting De Espinho,86,Desportivo de Agueda,86,Academica,86,Academica Coimbra,86,1.0,1.0

In [16]:
previous_df[previous_df['team_name']=='Málaga CF']

,row_type,Column1,team_name,country,country_iso,bf_team1,bf_fuzzy1,bf_team2,bf_fuzzy2,bf_team3,...,bf_team10,bf_fuzzy10,bf_team11,bf_fuzzy11,bf_team12,bf_fuzzy12,bf_team13,bf_fuzzy13,manual_insertion1stround,manual_insertion2ndround
390,bf_teamnames,0,Málaga CF,Spain,ES,Pontevedra CF,86,Alhaurin de la Torre CF,86,Atletico Sanluqueno CF,...,Los Villares CF,86,CF San Rafae,86,Huercal-Overa CF,86,Malaga,86,1.0,NaN
391,names_match,0,Málaga CF,Spain,ES,0,86,0,86,0,...,0,86,0,86,0,86,1,86,NaN,NaN

In [17]:
# get aliases

In [19]:
bf_team_cols = [f'bf_team{i}' for i in range(1,14)]
bf_team_cols

['bf_team1',
 'bf_team2',
 'bf_team3',
 'bf_team4',
 'bf_team5',
 'bf_team6',
 'bf_team7',
 'bf_team8',
 'bf_team9',
 'bf_team10',
 'bf_team11',
 'bf_team12',
 'bf_team13']

In [23]:
previous_df[previous_df['row_type']=='names_match'][['team_name', 'country_iso']+bf_team_cols]

,team_name,country_iso,bf_team1,bf_team2,bf_team3,bf_team4,bf_team5,bf_team6,bf_team7,bf_team8,bf_team9,bf_team10,bf_team11,bf_team12,bf_team13
1,Aldosivi,AR,1,0,0,0,0,0,0,0,0,0,0,0,0
3,Argentinos Juniors,AR,1,0,0,0,1,0,1,1,0,0,0,0,0
5,Arsenal,AR,1,1,1,0,0,0,0,0,0,0,0,0,0
7,Atlético Rafaela,AR,1,1,1,0,0,0,0,0,0,0,0,0,0
9,Atlético Tucumán,AR,1,1,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,Seattle Sounders,US,1,0,0,0,1,0,0,0,0,0,0,0,0
1113,SJ Earthquakes,US,1,0,0,0,0,0,0,0,0,0,0,0,0
1115,Sporting KC,US,1,0,0,0,0,0,0,0,0,0,0,0,1
1117,Toronto,US,1,0,0,0,0,0,0,0,0,0,0,0,0
1119,Vancouver Whitecaps,US,1,0,0,0,0,0,0,0,0,0,0,0,0

In [36]:
previous_df

,row_type,Column1,team_name,country,country_iso,bf_team1,bf_fuzzy1,bf_team2,bf_fuzzy2,bf_team3,...,bf_team10,bf_fuzzy10,bf_team11,bf_fuzzy11,bf_team12,bf_fuzzy12,bf_team13,bf_fuzzy13,manual_insertion1stround,manual_insertion2ndround
0,bf_teamnames,22,Aldosivi,Argentina,AR,Aldosivi,100,CA Aldosivi Reserves,90,LDU,...,CA Deportivo,50,Palestino,47,Deportivo Riestra,45,Independiente Rivadavia,45,NaN,NaN
1,names_match,22,Aldosivi,Argentina,AR,1,100,0,90,0,...,0,50,0,47,0,45,0,45,NaN,NaN
2,bf_teamnames,11,Argentinos Juniors,Argentina,AR,Argentinos Juniors,100,Argentinos Juniors Res,95,Argentinos Juniors Reserves,...,Argentino de Quilmes,68,CA Argentinos 25 Mayo,67,Argentino Merlo,67,Boca Juniors Res,67,NaN,NaN
3,names_match,11,Argentinos Juniors,Argentina,AR,1,100,0,95,0,...,0,68,0,67,0,67,0,67,NaN,NaN
4,bf_teamnames,13,Arsenal,Argentina,AR,Arsenal FC,95,Arsenal FC (Arg),90,Arsenal de Sarandi,...,Sansinena,62,Argentina,62,Barracas Central,61,Real Pilar FC,61,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,names_match,8,Sporting KC,United States,US,1,80,0,58,0,...,0,50,0,50,0,50,1,50,NaN,NaN
1116,bf_teamnames,93,Toronto,United States,US,Toronto FC,95,Toronto FC II (USL),90,Toronto FC II,...,Sacramento Republic,51,El Farolito,51,Orlando City II,51,San Antonio Scorpions,51,NaN,NaN
1117,names_match,93,Toronto,United States,US,1,95,0,90,0,...,0,51,0,51,0,51,0,51,NaN,NaN
1118,bf_teamnames,3,Vancouver Whitecaps,United States,US,Vancouver Whitecaps,100,PSV,60,Haiti,...,TSS FC Rovers,48,Colorado Switchbacks FC,48,Lane United FC,48,North Texas SC,48,NaN,NaN
1119,names_match,3,Vancouver Whitecaps,United States,US,1,100,0,60,0,...,0,48,0,48,0,48,0,48,NaN,NaN

In [39]:
previous_df_bf_teamnames = previous_df[previous_df['row_type']=='bf_teamnames'].copy()
previous_df_bf_teamnames

,row_type,Column1,team_name,country,country_iso,bf_team1,bf_fuzzy1,bf_team2,bf_fuzzy2,bf_team3,...,bf_team10,bf_fuzzy10,bf_team11,bf_fuzzy11,bf_team12,bf_fuzzy12,bf_team13,bf_fuzzy13,manual_insertion1stround,manual_insertion2ndround
0,bf_teamnames,22,Aldosivi,Argentina,AR,Aldosivi,100,CA Aldosivi Reserves,90,LDU,...,CA Deportivo,50,Palestino,47,Deportivo Riestra,45,Independiente Rivadavia,45,NaN,NaN
2,bf_teamnames,11,Argentinos Juniors,Argentina,AR,Argentinos Juniors,100,Argentinos Juniors Res,95,Argentinos Juniors Reserves,...,Argentino de Quilmes,68,CA Argentinos 25 Mayo,67,Argentino Merlo,67,Boca Juniors Res,67,NaN,NaN
4,bf_teamnames,13,Arsenal,Argentina,AR,Arsenal FC,95,Arsenal FC (Arg),90,Arsenal de Sarandi,...,Sansinena,62,Argentina,62,Barracas Central,61,Real Pilar FC,61,NaN,NaN
6,bf_teamnames,15,Atlético Rafaela,Argentina,AR,Atletico Rafaela,97,Rafaela,90,Atl Rafaela,...,CA 9 de Julio (Rafaela),65,Atletico San Jorge,64,Club Atletico Parana,63,Atletico MG,62,NaN,NaN
8,bf_teamnames,11,Atlético Tucumán,Argentina,AR,Atletico Tucuman,93,Club Atletico Tucuman,84,Atl Tucuman,...,Club Atletico Racing de,64,San Martin-Tucuman Res,64,Club Atletico Acassuso,63,Atletico Parana,62,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,bf_teamnames,9,Seattle Sounders,United States,US,Seattle Sounders,100,Seattle Sounders 2,95,Seattle Sounders FC II,...,North Sound SeaWolves,56,Sportfreunde Lotte,56,Lane Utd,56,Atlas,54,NaN,NaN
1112,bf_teamnames,25,SJ Earthquakes,United States,US,San Jose Earthquakes,84,USA,60,Eibar,...,Tulsa Athletics,48,Seattle Sounders,47,Albuquerque Sol,46,Seacoast Utd Mariners,46,NaN,NaN
1114,bf_teamnames,8,Sporting KC,United States,US,Sporting Kansas,80,GPS Portland Phoenix,58,FCM Portland,...,Washington Crossfire,50,Corinthians FC (San An),50,Minnesota Twin Stars,50,Kansas City,50,NaN,1.0
1116,bf_teamnames,93,Toronto,United States,US,Toronto FC,95,Toronto FC II (USL),90,Toronto FC II,...,Sacramento Republic,51,El Farolito,51,Orlando City II,51,San Antonio Scorpions,51,NaN,NaN
1118,bf_teamnames,3,Vancouver Whitecaps,United States,US,Vancouver Whitecaps,100,PSV,60,Haiti,...,TSS FC Rovers,48,Colorado Switchbacks FC,48,Lane United FC,48,North Texas SC,48,NaN,NaN

In [40]:
previous_df_names_match = previous_df[previous_df['row_type']=='names_match'].copy()
previous_df_names_match

,row_type,Column1,team_name,country,country_iso,bf_team1,bf_fuzzy1,bf_team2,bf_fuzzy2,bf_team3,...,bf_team10,bf_fuzzy10,bf_team11,bf_fuzzy11,bf_team12,bf_fuzzy12,bf_team13,bf_fuzzy13,manual_insertion1stround,manual_insertion2ndround
1,names_match,22,Aldosivi,Argentina,AR,1,100,0,90,0,...,0,50,0,47,0,45,0,45,NaN,NaN
3,names_match,11,Argentinos Juniors,Argentina,AR,1,100,0,95,0,...,0,68,0,67,0,67,0,67,NaN,NaN
5,names_match,13,Arsenal,Argentina,AR,1,95,1,90,1,...,0,62,0,62,0,61,0,61,NaN,NaN
7,names_match,15,Atlético Rafaela,Argentina,AR,1,97,1,90,1,...,0,65,0,64,0,63,0,62,NaN,NaN
9,names_match,11,Atlético Tucumán,Argentina,AR,1,93,1,84,1,...,0,64,0,64,0,63,0,62,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,names_match,9,Seattle Sounders,United States,US,1,100,0,95,0,...,0,56,0,56,0,56,0,54,NaN,NaN
1113,names_match,25,SJ Earthquakes,United States,US,1,84,0,60,0,...,0,48,0,47,0,46,0,46,NaN,NaN
1115,names_match,8,Sporting KC,United States,US,1,80,0,58,0,...,0,50,0,50,0,50,1,50,NaN,NaN
1117,names_match,93,Toronto,United States,US,1,95,0,90,0,...,0,51,0,51,0,51,0,51,NaN,NaN
1119,names_match,3,Vancouver Whitecaps,United States,US,1,100,0,60,0,...,0,48,0,48,0,48,0,48,NaN,NaN

In [49]:
previous_df_bf_teamnames[bf_team_cols].apply(lambda x: [a for a in x], axis=1)

0       [Aldosivi, CA Aldosivi Reserves, LDU, Club Ate...
2       [Argentinos Juniors, Argentinos Juniors Res, A...
4       [Arsenal FC, Arsenal FC (Arg), Arsenal de Sara...
6       [Atletico Rafaela, Rafaela, Atl Rafaela, Atlet...
8       [Atletico Tucuman, Club Atletico Tucuman, Atl ...
                              ...
1110    [Seattle Sounders, Seattle Sounders 2, Seattle...
1112    [San Jose Earthquakes, USA, Eibar, Wales, Seat...
1114    [Sporting Kansas, GPS Portland Phoenix, FCM Po...
1116    [Toronto FC, Toronto FC II (USL), Toronto FC I...
1118    [Vancouver Whitecaps, PSV, Haiti, Inter, FC Wi...
Length: 560, dtype: object

In [50]:
previous_df_names_match[bf_team_cols].apply(lambda x: [a for a in x], axis=1)

1       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
3       [1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0]
5       [1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
7       [1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
9       [1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                         ...
1111    [1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
1113    [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1115    [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]
1117    [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1119    [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Length: 560, dtype: object

In [52]:
previous_df_names_match[bf_team_cols].apply(lambda x: [a for a in x], axis=1).iloc[0]

['1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']

In [60]:
names = []
for i in range(len(previous_df_bf_teamnames)):
    names.append([name for name, num in zip (previous_df_bf_teamnames[bf_team_cols].apply(lambda x: [a for a in x], axis=1).iloc[i],
                                    previous_df_names_match[bf_team_cols].apply(lambda x: [a for a in x], axis=1).iloc[i])
             if num=='1'])

In [62]:
names[:10]

[['Aldosivi'],
 ['Argentinos Juniors', 'Argentinos Jrs', 'Arg Juniors', 'Argentinos Jr'],
 ['Arsenal FC', 'Arsenal FC (Arg)', 'Arsenal de Sarandi'],
 ['Atletico Rafaela', 'Rafaela', 'Atl Rafaela'],
 ['Atletico Tucuman', 'Club Atletico Tucuman', 'Atl Tucuman'],
 ['Banfield'],
 ['Belgrano'],
 ['Boca Juniors'],
 ['Central Cordoba (SdE)',
  'Central Cordoba',
  'CA Central Cordoba',
  'C Cordoba'],
 ['Chacarita']]

In [63]:
previous_df_bf_teamnames['names'] = names
previous_df_bf_teamnames

,row_type,Column1,team_name,country,country_iso,bf_team1,bf_fuzzy1,bf_team2,bf_fuzzy2,bf_team3,...,bf_fuzzy10,bf_team11,bf_fuzzy11,bf_team12,bf_fuzzy12,bf_team13,bf_fuzzy13,manual_insertion1stround,manual_insertion2ndround,names
0,bf_teamnames,22,Aldosivi,Argentina,AR,Aldosivi,100,CA Aldosivi Reserves,90,LDU,...,50,Palestino,47,Deportivo Riestra,45,Independiente Rivadavia,45,NaN,NaN,[Aldosivi]
2,bf_teamnames,11,Argentinos Juniors,Argentina,AR,Argentinos Juniors,100,Argentinos Juniors Res,95,Argentinos Juniors Reserves,...,68,CA Argentinos 25 Mayo,67,Argentino Merlo,67,Boca Juniors Res,67,NaN,NaN,"[Argentinos Juniors, Argentinos Jrs, Arg Junio..."
4,bf_teamnames,13,Arsenal,Argentina,AR,Arsenal FC,95,Arsenal FC (Arg),90,Arsenal de Sarandi,...,62,Argentina,62,Barracas Central,61,Real Pilar FC,61,NaN,NaN,"[Arsenal FC, Arsenal FC (Arg), Arsenal de Sara..."
6,bf_teamnames,15,Atlético Rafaela,Argentina,AR,Atletico Rafaela,97,Rafaela,90,Atl Rafaela,...,65,Atletico San Jorge,64,Club Atletico Parana,63,Atletico MG,62,NaN,NaN,"[Atletico Rafaela, Rafaela, Atl Rafaela]"
8,bf_teamnames,11,Atlético Tucumán,Argentina,AR,Atletico Tucuman,93,Club Atletico Tucuman,84,Atl Tucuman,...,64,San Martin-Tucuman Res,64,Club Atletico Acassuso,63,Atletico Parana,62,NaN,NaN,"[Atletico Tucuman, Club Atletico Tucuman, Atl ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,bf_teamnames,9,Seattle Sounders,United States,US,Seattle Sounders,100,Seattle Sounders 2,95,Seattle Sounders FC II,...,56,Sportfreunde Lotte,56,Lane Utd,56,Atlas,54,NaN,NaN,"[Seattle Sounders, Seattle]"
1112,bf_teamnames,25,SJ Earthquakes,United States,US,San Jose Earthquakes,84,USA,60,Eibar,...,48,Seattle Sounders,47,Albuquerque Sol,46,Seacoast Utd Mariners,46,NaN,NaN,[San Jose Earthquakes]
1114,bf_teamnames,8,Sporting KC,United States,US,Sporting Kansas,80,GPS Portland Phoenix,58,FCM Portland,...,50,Corinthians FC (San An),50,Minnesota Twin Stars,50,Kansas City,50,NaN,1.0,"[Sporting Kansas, Kansas City]"
1116,bf_teamnames,93,Toronto,United States,US,Toronto FC,95,Toronto FC II (USL),90,Toronto FC II,...,51,El Farolito,51,Orlando City II,51,San Antonio Scorpions,51,NaN,NaN,[Toronto FC]
1118,bf_teamnames,3,Vancouver Whitecaps,United States,US,Vancouver Whitecaps,100,PSV,60,Haiti,...,48,Colorado Switchbacks FC,48,Lane United FC,48,North Texas SC,48,NaN,NaN,[Vancouver Whitecaps]

In [64]:
footy_team_names_fuzzy_for_manual_check

,team_name,country,country_code,bf_team_0,score_0,bf_team_1,score_1,bf_team_2,score_2,bf_team_3,...,score_8,bf_team_9,score_9,bf_team_10,score_10,bf_team_11,score_11,bf_team_12,score_12,row_type
0,Brisbane Roar,australia,AU,Brisbane Roar,100,Brisbane,90,WDSC Wolves FC Brisbane,86,Brisbane Strikers,...,54,Port Melbourne Sharks,49,Ceres Negros,48,Melbourne Victory,47,Sydney,45,bf_team_names
1,Brisbane Roar,australia,AU,0,100,0,90,0,86,0,...,54,0,49,0,48,0,47,0,45,name_matching
2,Wellington Phoenix,australia,AU,Wellington Phoenix,100,Wellington Poenix,97,Wellington,90,Ben,...,46,Campbelltown City,46,Western United,44,Bulleen Lions,43,Peninsula Power,42,bf_team_names
3,Wellington Phoenix,australia,AU,0,100,0,97,0,90,0,...,46,0,46,0,44,0,43,0,42,name_matching
4,Western Sydney Wanderers,australia,AU,Western Sydney Wanderers,100,Sydney,90,Western Sydney,90,Sydney United 58,...,86,Test,64,A,60,Ben,60,West Adelaide,59,bf_team_names
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,Santa Cruz,brazil,BR,0,100,0,95,0,95,0,...,90,0,90,0,86,0,86,0,86,name_matching
1074,Yokohama,japan,JP,Yokohama FM,95,Yokohama FC,95,Yokohama SCC,90,Yokohama F Marinos,...,56,Tokoha University SC,56,Matsumoto Yamaga FC,56,Tokuyama University,56,R. Velho Takamatsu SC,56,bf_team_names
1075,Yokohama,japan,JP,0,95,0,95,0,90,0,...,56,0,56,0,56,0,56,0,56,name_matching
1076,Inter Miami,usa,US,Inter Miami CF,95,Inter Miami II,95,Inter Miami 2,95,Inter,...,67,Miami United SC,66,FC Miami City,64,Serbia,60,Miami Beach CF,59,bf_team_names
1077,Inter Miami,usa,US,0,95,0,95,0,95,0,...,67,0,66,0,64,0,60,0,59,name_matching

In [65]:
footy_team_names_fuzzy_for_manual_check_names = footy_team_names_fuzzy_for_manual_check[footy_team_names_fuzzy_for_manual_check['row_type']=='bf_team_names'].copy()

In [69]:
merged = footy_team_names_fuzzy_for_manual_check_names.merge(previous_df_bf_teamnames[['team_name','country_iso','names']],
                                                    how='left',
                                                   left_on=['team_name','country_code'],
                                                   right_on=['team_name','country_iso'])
merged

,team_name,country,country_code,bf_team_0,score_0,bf_team_1,score_1,bf_team_2,score_2,bf_team_3,...,score_9,bf_team_10,score_10,bf_team_11,score_11,bf_team_12,score_12,row_type,country_iso,names
0,Brisbane Roar,australia,AU,Brisbane Roar,100,Brisbane,90,WDSC Wolves FC Brisbane,86,Brisbane Strikers,...,49,Ceres Negros,48,Melbourne Victory,47,Sydney,45,bf_team_names,AU,"[Brisbane Roar, Brisbane]"
1,Wellington Phoenix,australia,AU,Wellington Phoenix,100,Wellington Poenix,97,Wellington,90,Ben,...,46,Western United,44,Bulleen Lions,43,Peninsula Power,42,bf_team_names,AU,"[Wellington Phoenix, Wellington Poenix, Wellin..."
2,Western Sydney Wanderers,australia,AU,Western Sydney Wanderers,100,Sydney,90,Western Sydney,90,Sydney United 58,...,64,A,60,Ben,60,West Adelaide,59,bf_team_names,AU,"[Western Sydney Wanderers, Western Sydney]"
3,Perth Glory FC,australia,AU,Perth Glory,95,Perth,90,Perth SC,86,FC Seoul,...,59,Macarthur FC,54,Sorrento FC,53,Melbourne Victory FC,53,bf_team_names,AU,"[Perth Glory, Perth]"
4,Newcastle Jets FC,australia,AU,Newcastle Jets FC,100,Newcastle Jets,95,Newcastle,90,FNQ FC Heat,...,86,Canberra FC,86,Lions FC,86,Olympic FC,86,bf_team_names,AU,[Newcastle Jets]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,CSA,brazil,BR,CSA,100,CSA AI,90,CSA AL,90,Icasa,...,60,Portuguesa SP,60,Ceara,60,Sao Paulo,60,bf_team_names,BR,"[CSA, CSA AL, CSA AI]"
535,Fortaleza,brazil,BR,Fortaleza,100,Fortaleza B,95,Fortaleza EC,95,Ceara SC Fortaleza B,...,60,Barra FC Porto Alegre,60,Galvez,60,EC Sao Jose Porto Alegre,60,bf_team_names,BR,"[Fortaleza, Fortaleza EC]"
536,Santa Cruz,brazil,BR,Santa Cruz,100,Santa Cruz PE,95,Santa Cruz RS,95,Santa Cruz-SE,...,90,Osvaldo Cruz FC,86,Santa Quiteria FC,86,Int Santa Maria,86,bf_team_names,BR,"[Santa Cruz, Santa Cruz PE]"
537,Yokohama,japan,JP,Yokohama FM,95,Yokohama FC,95,Yokohama SCC,90,Yokohama F Marinos,...,56,Matsumoto Yamaga FC,56,Tokuyama University,56,R. Velho Takamatsu SC,56,bf_team_names,JP,[Yokohama FC]
538,Inter Miami,usa,US,Inter Miami CF,95,Inter Miami II,95,Inter Miami 2,95,Inter,...,66,FC Miami City,64,Serbia,60,Miami Beach CF,59,bf_team_names,US,[Inter]

In [76]:
bf_team_cols = [f'bf_team_{i}' for i in range(0,13)]
bf_team_cols

['bf_team_0',
 'bf_team_1',
 'bf_team_2',
 'bf_team_3',
 'bf_team_4',
 'bf_team_5',
 'bf_team_6',
 'bf_team_7',
 'bf_team_8',
 'bf_team_9',
 'bf_team_10',
 'bf_team_11',
 'bf_team_12']

In [80]:
merged['candidates'] = merged[bf_team_cols].apply(lambda x: [a for a in x], axis=1)

In [88]:
zero_ones = merged.apply(lambda x: ['1' if a in x['names'] else '0' for a in x['candidates']], axis=1).apply(pd.Series)

In [90]:
zero_ones.columns = bf_team_cols

In [91]:
zero_ones

,bf_team_0,bf_team_1,bf_team_2,bf_team_3,bf_team_4,bf_team_5,bf_team_6,bf_team_7,bf_team_8,bf_team_9,bf_team_10,bf_team_11,bf_team_12
0,1,1,0,0,0,0,0,0,0,0,0,0,0
1,1,1,1,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,1,1,1,0,0,0,0,0,0,0,0,0,0
535,1,0,1,0,0,0,0,0,0,0,0,0,0
536,1,1,0,0,0,0,0,0,0,0,0,0,0
537,0,1,0,0,0,0,0,0,0,0,0,0,0
538,0,0,0,1,0,0,0,0,0,0,0,0,0

In [92]:
merged_zero_ones = merged.copy()

In [94]:
for i in range(len(merged_zero_ones)):
    for j in range(0,13):
        merged_zero_ones[f'bf_team_{j}'].iloc[i] = zero_ones[f'bf_team_{j}'].iloc[i]

/var/folders/0c/219vjmzn42bgwnsjttfhlbnm0000gn/T/ipykernel_34977/3634085513.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_zero_ones[f'bf_team_{j}'].iloc[i] = zero_ones[f'bf_team_{j}'].iloc[i]

In [95]:
merged_zero_ones

,team_name,country,country_code,bf_team_0,score_0,bf_team_1,score_1,bf_team_2,score_2,bf_team_3,...,bf_team_10,score_10,bf_team_11,score_11,bf_team_12,score_12,row_type,country_iso,names,candidates
0,Brisbane Roar,australia,AU,1,100,1,90,0,86,0,...,0,48,0,47,0,45,bf_team_names,AU,"[Brisbane Roar, Brisbane]","[Brisbane Roar, Brisbane, WDSC Wolves FC Brisb..."
1,Wellington Phoenix,australia,AU,1,100,1,97,1,90,0,...,0,44,0,43,0,42,bf_team_names,AU,"[Wellington Phoenix, Wellington Poenix, Wellin...","[Wellington Phoenix, Wellington Poenix, Wellin..."
2,Western Sydney Wanderers,australia,AU,1,100,0,90,1,90,0,...,0,60,0,60,0,59,bf_team_names,AU,"[Western Sydney Wanderers, Western Sydney]","[Western Sydney Wanderers, Sydney, Western Syd..."
3,Perth Glory FC,australia,AU,1,95,1,90,0,86,0,...,0,54,0,53,0,53,bf_team_names,AU,"[Perth Glory, Perth]","[Perth Glory, Perth, Perth SC, FC Seoul, Cairn..."
4,Newcastle Jets FC,australia,AU,0,100,1,95,0,90,0,...,0,86,0,86,0,86,bf_team_names,AU,[Newcastle Jets],"[Newcastle Jets FC, Newcastle Jets, Newcastle,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,CSA,brazil,BR,1,100,1,90,1,90,0,...,0,60,0,60,0,60,bf_team_names,BR,"[CSA, CSA AL, CSA AI]","[CSA, CSA AI, CSA AL, Icasa, asa, CSP, Paysand..."
535,Fortaleza,brazil,BR,1,100,0,95,1,95,0,...,0,60,0,60,0,60,bf_team_names,BR,"[Fortaleza, Fortaleza EC]","[Fortaleza, Fortaleza B, Fortaleza EC, Ceara S..."
536,Santa Cruz,brazil,BR,1,100,1,95,0,95,0,...,0,86,0,86,0,86,bf_team_names,BR,"[Santa Cruz, Santa Cruz PE]","[Santa Cruz, Santa Cruz PE, Santa Cruz RS, San..."
537,Yokohama,japan,JP,0,95,1,95,0,90,0,...,0,56,0,56,0,56,bf_team_names,JP,[Yokohama FC],"[Yokohama FM, Yokohama FC, Yokohama SCC, Yokoh..."
538,Inter Miami,usa,US,0,95,0,95,0,95,1,...,0,64,0,60,0,59,bf_team_names,US,[Inter],"[Inter Miami CF, Inter Miami II, Inter Miami 2..."

In [96]:
merged.index = range(0, 2*len(merged), 2)

In [97]:
merged_zero_ones.index = range(1, 2*len(merged_zero_ones)+1, 2)

In [98]:
# write row type before concatenating DFs
merged['row_type'] = 'bf_team_names'
merged_zero_ones['row_type'] = 'name_matching'

In [100]:
footy_team_names_fuzzy_for_manual_check_with_previous = pd.concat([merged, merged_zero_ones]).drop(
    columns=['country_iso','names','candidates']).sort_index()
footy_team_names_fuzzy_for_manual_check_with_previous

,team_name,country,country_code,bf_team_0,score_0,bf_team_1,score_1,bf_team_2,score_2,bf_team_3,...,score_8,bf_team_9,score_9,bf_team_10,score_10,bf_team_11,score_11,bf_team_12,score_12,row_type
0,Brisbane Roar,australia,AU,Brisbane Roar,100,Brisbane,90,WDSC Wolves FC Brisbane,86,Brisbane Strikers,...,54,Port Melbourne Sharks,49,Ceres Negros,48,Melbourne Victory,47,Sydney,45,bf_team_names
1,Brisbane Roar,australia,AU,1,100,1,90,0,86,0,...,54,0,49,0,48,0,47,0,45,name_matching
2,Wellington Phoenix,australia,AU,Wellington Phoenix,100,Wellington Poenix,97,Wellington,90,Ben,...,46,Campbelltown City,46,Western United,44,Bulleen Lions,43,Peninsula Power,42,bf_team_names
3,Wellington Phoenix,australia,AU,1,100,1,97,1,90,0,...,46,0,46,0,44,0,43,0,42,name_matching
4,Western Sydney Wanderers,australia,AU,Western Sydney Wanderers,100,Sydney,90,Western Sydney,90,Sydney United 58,...,86,Test,64,A,60,Ben,60,West Adelaide,59,bf_team_names
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,Santa Cruz,brazil,BR,1,100,1,95,0,95,0,...,90,0,90,0,86,0,86,0,86,name_matching
1074,Yokohama,japan,JP,Yokohama FM,95,Yokohama FC,95,Yokohama SCC,90,Yokohama F Marinos,...,56,Tokoha University SC,56,Matsumoto Yamaga FC,56,Tokuyama University,56,R. Velho Takamatsu SC,56,bf_team_names
1075,Yokohama,japan,JP,0,95,1,95,0,90,0,...,56,0,56,0,56,0,56,0,56,name_matching
1076,Inter Miami,usa,US,Inter Miami CF,95,Inter Miami II,95,Inter Miami 2,95,Inter,...,67,Miami United SC,66,FC Miami City,64,Serbia,60,Miami Beach CF,59,bf_team_names
1077,Inter Miami,usa,US,0,95,0,95,0,95,1,...,67,0,66,0,64,0,60,0,59,name_matching

In [101]:
footy_team_names_fuzzy_for_manual_check_with_previous.to_csv(os.path.join(INTERIM_FOLDERPATH, 
                                                            'footy_team_names_fuzzy_for_manual_check_with_previous.csv'), 
                                               index=False)