# Overview

The `footystats` data set contains data related to the matches as sport events; most importantly, **goal timings**.  
The `Betfair` data set contains data related to the predictive markets associated with matches; most importantly, **odds (prices)**.  
The `footystats` data set contains only **relevant matches**, while the `Betfair` data set contains **all matches** with predictive markets for a given period of time.  
So, the natural way to merge both data sets is to find the `Betfair` `event id` for each match in the `footystats` data set.  
There is no common `key` between both data sets, so we use team names and the datetime of the match as a `key`.  

Objective:  
- find `Betfair` `event id` for relevant matches from `footystats` data set.  

Notes:
- team names may not be the same in both data sets. Use string similarity and check manually.

# Setup

## Imports

In [153]:
# data wrangling
import json
import numpy as np
import pandas as pd
# timezone
import pytz
# files, system
import os
# compressed files
import bz2
# processing time
from tqdm import tqdm
# string similarity
from fuzzywuzzy import fuzz
# regex
import re

# Get basic info for match identification (Betfair)

As we have ~300k Betfair match files and a maximum of ~40k are relevant for this research, we:  
1. get only basic information for match identification from the ~300k files;  
2. find Betfair `event id`s for relevant `footystats` matches;  
3. process Betfair data of relevant matches alone.

Most matches have one `.bz2` data file, but matches can have more than one file.  
For instance, the event `27853333` has files `1.125589876.bz2` and `1.125805946.bz2`.

In this section, we go over all Betfair data files, get basic information on each match and store the data.

In [2]:
BASE_FOLDER_PATH = r'..\data\raw\betfair'

Function to list all `.bz2` files in the Betfair raw data folder.

In [3]:
def list_files(file_path, file_type):
    """
    Walks through a file path and returns all files that have the specified file type.
    
    Params:
    file_path (str): The directory to search for files in and its subdirectories.
    file_type (str): The file extension to search for (e.g. '.txt', '.pdf').
    
    Returns:
    matching_files (list): A list of filenames that have the specified file type.
    """
    matching_files = []
    for dir_path, dir_names, file_names in os.walk(file_path):
        for filename in file_names:
            if filename.lower().endswith(file_type.lower()):
                matching_files.append(os.path.join(dir_path, filename))
    return matching_files

In [4]:
matching_files = list_files(BASE_FOLDER_PATH, '.bz2')

Example of file path.

In [5]:
matching_files[0]

'..\\data\\raw\\betfair\\xds_nfs\\edp_processed\\BASIC\\2018\\Dec\\1\\28997142\\1.150836575.bz2'

Betfair data files are structured as one JSON/dictionary per line.  
So we store the data of one file as a list of dictionaries.  
Below is a function to get a list of dictionaries from an original compressed `.bz2` data file.

In [6]:
def bz2_to_dict_list(bz2_file_path):
    """Converts a .bz2 file to a list of dictionaries.
    
    Args:
        bz2_file_path (str): Path to the .bz2 file.
    
    Returns:
        list of dict: List of dictionaries represented by the .bz2 file.
    """
    with bz2.BZ2File(bz2_file_path, "rb") as bz2_file:
        data = bz2_file.read().decode("utf-8")
        data_list = []
        for line in data.splitlines():
            data_list.append(json.loads(line))
    return(data_list)

To define how to get match identification information, we walk through an example to check the JSON structure.

In [7]:
bz2_file_path = '../data/raw/betfair/xds_nfs/edp_processed/BASIC/2021/Feb/4/30263011/1.178709515.bz2'

In [8]:
data_list = bz2_to_dict_list(bz2_file_path)

The first dictionary has the information that identifies the match.

In [9]:
data_list[0]

{'op': 'mcm',
 'clk': '2768636726',
 'pt': 1612139881671,
 'mc': [{'id': '1.178709515',
   'marketDefinition': {'bspMarket': False,
    'turnInPlayEnabled': True,
    'persistenceEnabled': True,
    'marketBaseRate': 5.0,
    'eventId': '30263011',
    'eventTypeId': '1',
    'numberOfWinners': 1,
    'bettingType': 'ODDS',
    'marketType': 'MATCH_ODDS',
    'marketTime': '2021-02-04T00:30:00.000Z',
    'suspendTime': '2021-02-04T00:30:00.000Z',
    'bspReconciled': False,
    'complete': True,
    'inPlay': False,
    'crossMatching': True,
    'runnersVoidable': False,
    'numberOfActiveRunners': 3,
    'betDelay': 0,
    'status': 'OPEN',
    'runners': [{'status': 'ACTIVE',
      'sortPriority': 1,
      'id': 198136,
      'name': 'Corinthians'},
     {'status': 'ACTIVE',
      'sortPriority': 2,
      'id': 5287019,
      'name': 'Ceara SC Fortaleza'},
     {'status': 'ACTIVE', 'sortPriority': 3, 'id': 58805, 'name': 'The Draw'}],
    'regulators': ['MR_INT'],
    'countryCode': 'BR',
    'discountAllowed': True,
    'timezone': 'GMT',
    'openDate': '2021-02-04T00:30:00.000Z',
    'version': 3604018446,
    'name': 'Match Odds',
    'eventName': 'Corinthians v Ceara SC Fortaleza'}}]}

Example: home team name

In [10]:
data_list[0]['mc'][0]['marketDefinition']['runners'][0]['name']

'Corinthians'

In [11]:
data_list[0].keys()

dict_keys(['op', 'clk', 'pt', 'mc'])

After having explored the dictionary structure, we can write a function to get basic information for match identification.

In [12]:
EVENT_INFO_INDEX = 0
MC_INDEX = 0
HOME_TEAM_INDEX = 0
AWAY_TEAM_INDEX = 1

def get_event_basic_info(data):
    """
    Takes an event list of dictionaries and returns basic information for identification of the event.
    
    Params:
    data (list of dic): Event list of dictionaries.
    
    Returns:
    event_basic_info (dic): Basic information for identification of the event.
    """
    
    data_market_definition = data[EVENT_INFO_INDEX]['mc'][MC_INDEX]['marketDefinition']
    
    event_id = data_market_definition['eventId']
    country = data_market_definition['countryCode']
    open_date = data_market_definition['openDate']
    home_team = data_market_definition['runners'][HOME_TEAM_INDEX]['name']
    away_team = data_market_definition['runners'][AWAY_TEAM_INDEX]['name']
    event_name = data_market_definition['eventName']
    
    event_basic_info = {'event_id': event_id,
                        'country': country,
                        'open_date': open_date,
                        'home_team': home_team,
                        'away_team': away_team,
                        'event_name': event_name
                       }
    return event_basic_info

Function to get basic information for multiple files.

In [13]:
def get_event_basic_info_multiple(matching_files):
    """
    Get event basic info for multiple files as per list `matching_files`.
    Return dictionary {'file_path': event_basic_info} and list of files with reading errors.
        event_basic_info is a dictionary with basic info returned by get_event_basic_info().
    """
    event_basic_info_dic = {}
    errors_event_basic_info = {}

    for bz2_file_path in tqdm(matching_files):
        try:
            event_basic_info_dic[bz2_file_path] = get_event_basic_info(bz2_to_dict_list(bz2_file_path))
        except Exception as e:
            errors_event_basic_info[bz2_file_path] = e
    return event_basic_info_dic, errors_event_basic_info

Run for all files.

In [14]:
event_basic_info_dic, errors_event_basic_info = get_event_basic_info_multiple(matching_files)

100%|█████████████████████████████████████████████████████████████████████████| 303894/303894 [22:17<00:00, 227.13it/s]

A very small number of files could not be read or had formatting issues.

In [15]:
len(list(errors_event_basic_info.keys())) / len(list(event_basic_info_dic.keys()))

0.0004905430542066536

So, basic information for match identification in the Betfair data set is stored in `event_basic_info_dic`.  
Let us write it into a csv file for later reference.

In [16]:
EVENT_BASIC_INFO_DIC_PATH = '../data/interim/event_basic_info_dic.json'

In [593]:
with open(EVENT_BASIC_INFO_DIC_PATH, "w") as outfile:
    json.dump(event_basic_info_dic, outfile)

In case we need to load `event_basic_info_dic` from the file, the following code may be used:

In [594]:
with open(file=EVENT_BASIC_INFO_DIC_PATH, mode="r") as f:
    event_basic_info_dic = json.load(f)

# Find Betfair `event id`s for relevant footystats matches

Team names in Betfair and footystats may be different (e.g. Man Utd and Manchester United).  
So, we cannot directly build `keys` using team names and match datetimes.  
For each team name in the footystats data set, we define a list of compatible team names that appear in the Betfair data set.  
The lists of team names are obtained using `fuzzy` string similarity and by checking manually.  
Then, for each footystats record, we search all combinations of compatible Betfair home and away team names.  
For example:  
- footystats: `Manchester United x Manchester City, Mar 8 2020 - 4:30pm`.
- Betfair:
    - there are records of 'Man United' and 'Man Utd', but not 'Manchester United'.  
    - there are records of 'Manchester City' and 'Man City'.  
- Thus, we search for all 4 combinations of home and away team names, at the given match datetime.  

We explicitly search within the same country, as there are teams with the same name across countries (e.g. Arsenal-AR, Arsenal-GB).  
The steps are:
- get Betfair country-team_name pairs  
- get footystats country-team_name pairs  
- for each footystats country-team_name pair, get `fuzzy` most similar Betfair team names  
- perform manual checking 
- search `event id`s

## get Betfair country-team_name pairs

In [19]:
event_basic_info_df = pd.DataFrame(event_basic_info_dic.values())
event_basic_info_df['open_date'] = pd.to_datetime(event_basic_info_df['open_date'])
# the same match(event) may be divided into more than one data file, so remove duplicates
event_basic_info_df = event_basic_info_df.drop_duplicates()

In [20]:
event_basic_info_df

,event_id,country,open_date,home_team,away_team,event_name
0,28997142,FR,2018-12-01 16:00:00+00:00,Lille,Lyon,Lille v Lyon
1,28997143,FR,2018-12-01 19:00:00+00:00,Nimes,Amiens,Nimes v Amiens
2,28997145,FR,2018-12-01 19:00:00+00:00,Angers,Caen,Angers v Caen
3,28997146,FR,2018-12-01 19:00:00+00:00,Guingamp,Nice,Guingamp v Nice
4,28997147,FR,2018-12-01 19:00:00+00:00,Monaco,Montpellier,Monaco v Montpellier
...,...,...,...,...,...,...
303740,28893785,DE,2018-09-09 12:00:00+00:00,Eintracht Norderstedt,Luneburg,Eintracht Norderstedt v Luneburg
303741,28893786,DE,2018-09-09 13:00:00+00:00,Kieler SV Holstein II,Weiche Flensburg,Kieler SV Holstein II v Weiche Flensburg
303742,28893787,DE,2018-09-09 13:00:00+00:00,Wuppertaler,Alemannia Aachen,Wuppertaler v Alemannia Aachen
303743,28893799,GB,2018-09-09 13:00:00+00:00,South Sudan,Mali,South Sudan v Mali
303744,28893846,AR,2018-09-09 18:10:00+00:00,Argentinos Juniors,CA Temperley,Argentinos Juniors v CA Temperley

Let us check the distribution of column `country`.

In [21]:
event_basic_info_df['country'].value_counts()

GB    61979
ES    41274
BR    28395
DE    24077
IT    19284
AR    16556
FR    12270
PT    11415
IL    10177
JP     9934
RU     9532
TR     7975
NL     7801
US     7333
CN     2729
AU     1594
CA      709
RO        3
BY        2
CM        2
AM        2
AO        2
AG        2
UZ        2
UY        1
NO        1
AD        1
VE        1
BZ        1
AW        1
IS        1
IE        1
TN        1
BA        1
BT        1
AT        1
EC        1
MA        1
Name: country, dtype: int64

There is a very small number of events in countries other than the list of relevant countries.  
Let us enforce the list of countries.

In [22]:
COUNTRY_CODES_PATH = '../betfair-api/configuration/countryCodes.csv'
country_codes = list(pd.read_csv(COUNTRY_CODES_PATH)['marketDefinition.countryCode'].values)
event_basic_info_df = event_basic_info_df[event_basic_info_df['country'].isin(country_codes)].copy()

In [23]:
event_basic_info_df

,event_id,country,open_date,home_team,away_team,event_name
0,28997142,FR,2018-12-01 16:00:00+00:00,Lille,Lyon,Lille v Lyon
1,28997143,FR,2018-12-01 19:00:00+00:00,Nimes,Amiens,Nimes v Amiens
2,28997145,FR,2018-12-01 19:00:00+00:00,Angers,Caen,Angers v Caen
3,28997146,FR,2018-12-01 19:00:00+00:00,Guingamp,Nice,Guingamp v Nice
4,28997147,FR,2018-12-01 19:00:00+00:00,Monaco,Montpellier,Monaco v Montpellier
...,...,...,...,...,...,...
303740,28893785,DE,2018-09-09 12:00:00+00:00,Eintracht Norderstedt,Luneburg,Eintracht Norderstedt v Luneburg
303741,28893786,DE,2018-09-09 13:00:00+00:00,Kieler SV Holstein II,Weiche Flensburg,Kieler SV Holstein II v Weiche Flensburg
303742,28893787,DE,2018-09-09 13:00:00+00:00,Wuppertaler,Alemannia Aachen,Wuppertaler v Alemannia Aachen
303743,28893799,GB,2018-09-09 13:00:00+00:00,South Sudan,Mali,South Sudan v Mali
303744,28893846,AR,2018-09-09 18:10:00+00:00,Argentinos Juniors,CA Temperley,Argentinos Juniors v CA Temperley

Betfair records the country where a match took place, whereas footystats' `country` is the country of the *league*.  
So, matches played in Canada for the Major League Soccer (US) will be recorded as `CA` in Betfair and `US` in footystats.  
In the opposite direction, Betfair records as `GB` all matches played in Great Britain (e.g. English, Scottish leagues).  
We deal with `GB` later on, when we process footystats data.  
Now, get a column in which matches played in Canada show up as `US`.

In [24]:
event_basic_info_df['country_caus'] = event_basic_info_df['country'].replace('CA', 'US')

In [25]:
event_basic_info_df

,event_id,country,open_date,home_team,away_team,event_name,country_caus
0,28997142,FR,2018-12-01 16:00:00+00:00,Lille,Lyon,Lille v Lyon,FR
1,28997143,FR,2018-12-01 19:00:00+00:00,Nimes,Amiens,Nimes v Amiens,FR
2,28997145,FR,2018-12-01 19:00:00+00:00,Angers,Caen,Angers v Caen,FR
3,28997146,FR,2018-12-01 19:00:00+00:00,Guingamp,Nice,Guingamp v Nice,FR
4,28997147,FR,2018-12-01 19:00:00+00:00,Monaco,Montpellier,Monaco v Montpellier,FR
...,...,...,...,...,...,...,...
303740,28893785,DE,2018-09-09 12:00:00+00:00,Eintracht Norderstedt,Luneburg,Eintracht Norderstedt v Luneburg,DE
303741,28893786,DE,2018-09-09 13:00:00+00:00,Kieler SV Holstein II,Weiche Flensburg,Kieler SV Holstein II v Weiche Flensburg,DE
303742,28893787,DE,2018-09-09 13:00:00+00:00,Wuppertaler,Alemannia Aachen,Wuppertaler v Alemannia Aachen,DE
303743,28893799,GB,2018-09-09 13:00:00+00:00,South Sudan,Mali,South Sudan v Mali,GB
303744,28893846,AR,2018-09-09 18:10:00+00:00,Argentinos Juniors,CA Temperley,Argentinos Juniors v CA Temperley,AR

We now exclude matches that are obviously not relevant to this research, such as womens' matches, under 23, 'young', 'reserves'.

In [26]:
check_strings = [' (W)', 'U19', 'U20', 'U21', 'U23', ' (Y)', ' (Res)']
escaped_check_strings = [re.escape(s) for s in check_strings]
mask = ~event_basic_info_df['event_name'].str.contains('|'.join(escaped_check_strings), regex=True)
event_basic_info_df = event_basic_info_df[mask]
event_basic_info_df

,event_id,country,open_date,home_team,away_team,event_name,country_caus
0,28997142,FR,2018-12-01 16:00:00+00:00,Lille,Lyon,Lille v Lyon,FR
1,28997143,FR,2018-12-01 19:00:00+00:00,Nimes,Amiens,Nimes v Amiens,FR
2,28997145,FR,2018-12-01 19:00:00+00:00,Angers,Caen,Angers v Caen,FR
3,28997146,FR,2018-12-01 19:00:00+00:00,Guingamp,Nice,Guingamp v Nice,FR
4,28997147,FR,2018-12-01 19:00:00+00:00,Monaco,Montpellier,Monaco v Montpellier,FR
...,...,...,...,...,...,...,...
303740,28893785,DE,2018-09-09 12:00:00+00:00,Eintracht Norderstedt,Luneburg,Eintracht Norderstedt v Luneburg,DE
303741,28893786,DE,2018-09-09 13:00:00+00:00,Kieler SV Holstein II,Weiche Flensburg,Kieler SV Holstein II v Weiche Flensburg,DE
303742,28893787,DE,2018-09-09 13:00:00+00:00,Wuppertaler,Alemannia Aachen,Wuppertaler v Alemannia Aachen,DE
303743,28893799,GB,2018-09-09 13:00:00+00:00,South Sudan,Mali,South Sudan v Mali,GB
303744,28893846,AR,2018-09-09 18:10:00+00:00,Argentinos Juniors,CA Temperley,Argentinos Juniors v CA Temperley,AR

We can now get team names.

In [47]:
bf_home_team_names = event_basic_info_df[['country_caus', 'home_team']].rename(columns={'home_team': 'team_name'})
bf_away_team_names = event_basic_info_df[['country_caus', 'away_team']].rename(columns={'away_team': 'team_name'})
bf_team_names = pd.concat([bf_home_team_names, bf_away_team_names]).drop_duplicates().reset_index().drop(columns=['index'])
bf_team_names

      country_caus               team_name
0               FR                   Lille
1               FR                   Nimes
2               FR                  Angers
3               FR                Guingamp
4               FR                  Monaco
...            ...                     ...
12661           DE                    Peru
12662           DE  Eintracht Braunschweig
12663           DE              Heeslinger
12664           JP          Sfida Setagaya
12665           PT             GD Trancoso

[12666 rows x 2 columns]

Export

In [48]:
BF_TEAM_NAMES_PATH = '../data/interim/bf_team_names.csv'

In [49]:
bf_team_names.to_csv(BF_TEAM_NAMES_PATH, index=False)

## get footystats country-team_name pairs

In [50]:
FOOTYSTATS_FILEPATH = '../data/interim/footy.csv'

In [51]:
footy = pd.read_csv(FOOTYSTATS_FILEPATH, parse_dates=['date_GMT'])

In [52]:
footy

,timestamp,date_GMT,status,home_team_name,away_team_name,home_team_goal_count,away_team_goal_count,home_team_goal_timings,away_team_goal_timings,country
0,1430589600,2015-05-02 18:00:00,complete,Olimpo,Estudiantes,0,0,NaN,NaN,argentina
1,1430597700,2015-05-02 20:15:00,complete,Gimnasia La Plata,Newell's Old Boys,0,0,NaN,NaN,argentina
2,1430601000,2015-05-02 21:10:00,complete,San Lorenzo,Vélez Sarsfield,1,0,83,NaN,argentina
3,1430605800,2015-05-02 22:30:00,complete,Argentinos Juniors,Aldosivi,0,1,NaN,45'1,argentina
4,1430608500,2015-05-02 23:15:00,complete,Racing Club,Lanús,2,0,"72,90",NaN,argentina
...,...,...,...,...,...,...,...,...,...,...
36081,1583632800,2020-03-08 02:00:00,complete,Colorado Rapids,Orlando City,2,1,"64,90",82,usa
36082,1583636400,2020-03-08 03:00:00,complete,LA Galaxy,Vancouver Whitecaps,0,1,NaN,74,usa
36083,1583636400,2020-03-08 03:00:00,complete,Seattle Sounders,Columbus Crew,1,1,79,33,usa
36084,1583708400,2020-03-08 23:00:00,complete,Portland Timbers,Nashville SC,1,0,12,NaN,usa
36085,1583721000,2020-03-09 02:30:00,complete,Los Angeles FC,Philadelphia Union,3,3,"38,49,71","29,48,69",usa

Get country codes, taking into consideration that English and Scottish leagues are recorded as `GB` in Betfair.

In [53]:
FOOTY_COUNTRY_CODES_PATH = 'configuration/footy_country_codes.csv'
footy_country_codes = pd.read_csv(FOOTY_COUNTRY_CODES_PATH)
footy_country_codes

   country_name country_code
0     argentina           AR
1     australia           AU
2        brazil           BR
3         china           CN
4       england           GB
5        france           FR
6       germany           DE
7        israel           IL
8         italy           IT
9         japan           JP
10  netherlands           NL
11     portugal           PT
12       russia           RU
13     scotland           GB
14        spain           ES
15       turkey           TR
16          usa           US

In [54]:
footy = footy.merge(footy_country_codes, 
                    how='left', 
                    left_on='country', 
                    right_on='country_name').drop(columns=['country_name'])

In [55]:
footy

,timestamp,date_GMT,status,home_team_name,away_team_name,home_team_goal_count,away_team_goal_count,home_team_goal_timings,away_team_goal_timings,country,country_code
0,1430589600,2015-05-02 18:00:00,complete,Olimpo,Estudiantes,0,0,NaN,NaN,argentina,AR
1,1430597700,2015-05-02 20:15:00,complete,Gimnasia La Plata,Newell's Old Boys,0,0,NaN,NaN,argentina,AR
2,1430601000,2015-05-02 21:10:00,complete,San Lorenzo,Vélez Sarsfield,1,0,83,NaN,argentina,AR
3,1430605800,2015-05-02 22:30:00,complete,Argentinos Juniors,Aldosivi,0,1,NaN,45'1,argentina,AR
4,1430608500,2015-05-02 23:15:00,complete,Racing Club,Lanús,2,0,"72,90",NaN,argentina,AR
...,...,...,...,...,...,...,...,...,...,...,...
36081,1583632800,2020-03-08 02:00:00,complete,Colorado Rapids,Orlando City,2,1,"64,90",82,usa,US
36082,1583636400,2020-03-08 03:00:00,complete,LA Galaxy,Vancouver Whitecaps,0,1,NaN,74,usa,US
36083,1583636400,2020-03-08 03:00:00,complete,Seattle Sounders,Columbus Crew,1,1,79,33,usa,US
36084,1583708400,2020-03-08 23:00:00,complete,Portland Timbers,Nashville SC,1,0,12,NaN,usa,US
36085,1583721000,2020-03-09 02:30:00,complete,Los Angeles FC,Philadelphia Union,3,3,"38,49,71","29,48,69",usa,US

In [56]:
footy_home_team_names = footy[['country_code', 'home_team_name']].rename(columns={'home_team_name': 'team_name'})
footy_away_team_names = footy[['country_code', 'away_team_name']].rename(columns={'away_team_name': 'team_name'})
footy_team_names = pd.concat([footy_home_team_names, footy_away_team_names]).drop_duplicates().reset_index().drop(columns=['index'])
footy_team_names = footy_team_names.sort_values(['country_code', 'team_name'])
footy_team_names

    country_code            team_name
21            AR             Aldosivi
3             AR   Argentinos Juniors
11            AR              Arsenal
6             AR     Atlético Rafaela
31            AR     Atlético Tucumán
..           ...                  ...
530           US       SJ Earthquakes
531           US     Seattle Sounders
519           US          Sporting KC
528           US              Toronto
525           US  Vancouver Whitecaps

[539 rows x 2 columns]

In [57]:
FOOTY_TEAM_NAMES_PATH = '../data/interim/footy_team_names.csv'

In [58]:
footy_team_names.to_csv(FOOTY_TEAM_NAMES_PATH, index=False)

## get `fuzzy` most similar Betfair team names

The following function takes the DataFrames with countries and team names that we got in the previous sections, and returns the `n` most similar Betfair team names and scores for each footystats team name.

In [61]:
def get_similar_teams(footy_team_names, bf_team_names, n=3):
    """
    Given two pandas DataFrames with countries and team names, return the n most similar team names from the second list 
    in the same country, for each team name in the first list, along with the string similarity score.
    
    :param footy_team_names: DataFrame of countries and team names from footystats
    :param bf_team_names: DataFrame of countries and team names from Betfair
    :param n: the number of most similar teams to return
    :return: a dictionary mapping each pair country-footy team name to a list of n tuples, 
            where each tuple contains a team name from betfair_team_names and its similarity score to the footy team name
    """
    result = {}
    for country_code, footy_team in tqdm(zip(footy_team_names['country_code'], footy_team_names['team_name'])):
        scores = []
        for betfair_team in bf_team_names[bf_team_names['country_caus'] == country_code]['team_name']:
            scores.append((betfair_team, fuzz.ratio(footy_team, betfair_team)))
        scores = sorted(scores, key=lambda x: x[1], reverse=True)[:n]
        result[(country_code, footy_team)] = scores
    return result

We run the function with `n=13`. This is not a 'magic number', but the result of an iteractive process with the next acticity, the manual checking step.  
For most teams, the first or second most similar team names suffice, but we surprisingly get relevant names at lower ranks for a non-negligible minority of teams.

In [62]:
similar_team_names = get_similar_teams(footy_team_names, bf_team_names, n=13)

539it [00:07, 68.32it/s]

In [63]:
footy_team_names_scores = footy_team_names.copy()
footy_team_names_scores['scores'] = [similar_team_names[(country_code, footy_team)] 
                                     for (country_code, footy_team)
                                     in zip(footy_team_names['country_code'], footy_team_names['team_name'])]
footy_team_names_scores

,country_code,team_name,scores
21,AR,Aldosivi,"[(Aldosivi, 100), (Altos, 62), (CA Aldosivi Re..."
3,AR,Argentinos Juniors,"[(Argentinos Juniors, 100), (Argentinos Junior..."
11,AR,Arsenal,"[(Arsenal FC, 82), (Arenas, 77), (Argentina, 6..."
6,AR,Atlético Rafaela,"[(Atletico Rafaela, 94), (Atletico Parana, 71)..."
31,AR,Atlético Tucumán,"[(Atletico Tucuman, 88), (Club Atletico Tucuma..."
...,...,...,...
530,US,SJ Earthquakes,"[(San Jose Earthquakes, 82), (San Jose Earthqu..."
531,US,Seattle Sounders,"[(Seattle Sounders, 100), (Seattle Sounders 2,..."
519,US,Sporting KC,"[(Sporting Kansas, 77), (Sporting Orlando, 67)..."
528,US,Toronto,"[(Toronto FC, 82), (Toronto FC II, 70), (Toron..."
525,US,Vancouver Whitecaps,"[(Vancouver Whitecaps, 100), (Vancouver Whitec..."

Explode the `scores` column to prepare a DataFrame to be used in the manual checking step.

In [64]:
footy_team_names_scores_exploded = pd.concat([footy_team_names_scores, 
                                              pd.concat([footy_team_names_scores['scores'].apply(pd.Series)[col].apply(pd.Series) for col in range(0, 13)], 
                                                        axis=1)], 
                                             axis=1).drop(columns=['scores'])
footy_team_names_scores_exploded

,country_code,team_name,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
21,AR,Aldosivi,Aldosivi,100,Altos,62,CA Aldosivi Reserves,57,Bolivia,53,...,Arg de Rosario,45,CA Florida,44,El Porvenir,42,Almagro,40,Rosario,40
3,AR,Argentinos Juniors,Argentinos Juniors,100,Argentinos Juniors Res,90,Argentinos Jrs,88,Argentinos Juniors Reserves,80,...,Argentino Merlo,67,Argentino,67,Argentino MM,67,Argentino Pergamino,65,Argentino Monte Maiz,63
11,AR,Arsenal,Arsenal FC,82,Arenas,77,Argentina,62,Arsenal FC (Arg),61,...,CA Penaflor,56,CA Regional,56,CA Barracas Central,54,Ros. Central,53,Barracas Central,52
6,AR,Atlético Rafaela,Atletico Rafaela,94,Atletico Parana,71,Atletico Campana,69,Atletico Raci,69,...,Atletico Cuyaya,65,Atletico Marquesado,63,CA 9 de Julio (Rafaela),62,Club Atletico Parana,61,Rafaela,61
31,AR,Atlético Tucumán,Atletico Tucuman,88,Club Atletico Tucuman,76,Atl Tucuman,74,Atletico Campana,62,...,Atletico MG,59,Atletico Parana,58,Atletico Cuyaya,58,Atletico Camioneros,57,Atletico Concepcion,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,US,SJ Earthquakes,San Jose Earthquakes,82,San Jose Earthquakes II,76,Martinique,50,Schalke,48,...,Johor Darul Takzim,44,Santa Cruz Breakers FC,44,Santa Cruz Breaker,44,Fort Worth Vaqueros FC,44,Real Salt Lake,43
531,US,Seattle Sounders,Seattle Sounders,100,Seattle Sounders 2,94,Seattle Sounders II,91,Seattle Sounders FC II,84,...,OSA Seattle FC,53,Golden State Misioneros,51,Real Monarchs SL,50,Oakland Stompers,50,Western Mass Pioneers,49
519,US,Sporting KC,Sporting Kansas,77,Sporting Orlando,67,Sporting Kansas City II,65,Khalsa Sporting Club,65,...,Wayne County Sporting,50,Austin FC,50,Fort Wayne FC,50,Boston FC,50,Floridians FC,50
528,US,Toronto,Toronto FC,82,Toronto FC II,70,Toronto Croatia,64,Tormenta 2,59,...,Burlington,47,Cotonsport,47,Fiorentina,47,Dragon,46,El Farolito,44
525,US,Vancouver Whitecaps,Vancouver Whitecaps,100,Vancouver Whitecaps II,93,Vancouver Utd,69,Vancouver Thunderbirds,63,...,Southern States SC,43,Seacoast United Phantoms,42,Lane United FC,42,San Jose Earthquakes,41,Southern C Seahorses,41

In [65]:
# get column names
cols = ['country_code', 'team_name']
for i in range(13):
    cols.append(f'bf_team{i+1}')
    cols.append(f'score{i+1}')

In [66]:
footy_team_names_scores_exploded.columns = cols
footy_team_names_scores_exploded

,country_code,team_name,bf_team1,score1,bf_team2,score2,bf_team3,score3,bf_team4,score4,...,bf_team9,score9,bf_team10,score10,bf_team11,score11,bf_team12,score12,bf_team13,score13
21,AR,Aldosivi,Aldosivi,100,Altos,62,CA Aldosivi Reserves,57,Bolivia,53,...,Arg de Rosario,45,CA Florida,44,El Porvenir,42,Almagro,40,Rosario,40
3,AR,Argentinos Juniors,Argentinos Juniors,100,Argentinos Juniors Res,90,Argentinos Jrs,88,Argentinos Juniors Reserves,80,...,Argentino Merlo,67,Argentino,67,Argentino MM,67,Argentino Pergamino,65,Argentino Monte Maiz,63
11,AR,Arsenal,Arsenal FC,82,Arenas,77,Argentina,62,Arsenal FC (Arg),61,...,CA Penaflor,56,CA Regional,56,CA Barracas Central,54,Ros. Central,53,Barracas Central,52
6,AR,Atlético Rafaela,Atletico Rafaela,94,Atletico Parana,71,Atletico Campana,69,Atletico Raci,69,...,Atletico Cuyaya,65,Atletico Marquesado,63,CA 9 de Julio (Rafaela),62,Club Atletico Parana,61,Rafaela,61
31,AR,Atlético Tucumán,Atletico Tucuman,88,Club Atletico Tucuman,76,Atl Tucuman,74,Atletico Campana,62,...,Atletico MG,59,Atletico Parana,58,Atletico Cuyaya,58,Atletico Camioneros,57,Atletico Concepcion,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,US,SJ Earthquakes,San Jose Earthquakes,82,San Jose Earthquakes II,76,Martinique,50,Schalke,48,...,Johor Darul Takzim,44,Santa Cruz Breakers FC,44,Santa Cruz Breaker,44,Fort Worth Vaqueros FC,44,Real Salt Lake,43
531,US,Seattle Sounders,Seattle Sounders,100,Seattle Sounders 2,94,Seattle Sounders II,91,Seattle Sounders FC II,84,...,OSA Seattle FC,53,Golden State Misioneros,51,Real Monarchs SL,50,Oakland Stompers,50,Western Mass Pioneers,49
519,US,Sporting KC,Sporting Kansas,77,Sporting Orlando,67,Sporting Kansas City II,65,Khalsa Sporting Club,65,...,Wayne County Sporting,50,Austin FC,50,Fort Wayne FC,50,Boston FC,50,Floridians FC,50
528,US,Toronto,Toronto FC,82,Toronto FC II,70,Toronto Croatia,64,Tormenta 2,59,...,Burlington,47,Cotonsport,47,Fiorentina,47,Dragon,46,El Farolito,44
525,US,Vancouver Whitecaps,Vancouver Whitecaps,100,Vancouver Whitecaps II,93,Vancouver Utd,69,Vancouver Thunderbirds,63,...,Southern States SC,43,Seacoast United Phantoms,42,Lane United FC,42,San Jose Earthquakes,41,Southern C Seahorses,41

The DataFrame is exported to be used in the manual checking step.

In [67]:
FOOTY_TEAM_NAMES_SCORES_EXPLODED_PATH = '../data/interim/footy_team_names_scores_exploded.csv'

In [68]:
footy_team_names_scores_exploded.to_csv(FOOTY_TEAM_NAMES_SCORES_EXPLODED_PATH, index=False)

## manual checking

The team names were checked manually and the mapping of footystats team names to Betfair team names is stored in the file `team_names_manual_check.csv`.  
The process was not performed at once.  
Feedback from the number of matches with Betfair data per team was used to identify teams with former names or aliases.

In [524]:
TEAM_NAMES_MANUAL_CHECK_PATH = '../data/interim/team_names_manual_check.csv'

In [525]:
team_names_manual_check = pd.read_csv(TEAM_NAMES_MANUAL_CHECK_PATH).drop(columns=['Column1'])
team_names_manual_check

,row_type,country_code,team_name,bf_team1,score1,bf_team2,score2,bf_team3,score3,bf_team4,...,score9,bf_team10,score10,bf_team11,score11,bf_team12,score12,bf_team13,score13,manual_insertion
0,teams,AR,Aldosivi,Aldosivi,100,Altos,62,CA Aldosivi Reserves,57,Bolivia,...,45,CA Florida,44,El Porvenir,42,Almagro,40,Rosario,40,NaN
1,zero_one,AR,Aldosivi,1,100,0,62,0,57,0,...,45,0,44,0,42,0,40,0,40,0
2,teams,AR,Argentinos Juniors,Argentinos Juniors,100,Argentinos Juniors Res,90,Argentinos Jrs,88,Argentinos Juniors Reserves,...,67,Argentino,67,Argentino MM,67,Argentino Pergamino,65,Argentino Monte Maiz,63,NaN
3,zero_one,AR,Argentinos Juniors,1,100,0,90,1,88,0,...,67,0,67,0,67,0,65,0,63,0
4,teams,AR,Arsenal,Arsenal FC,82,Arenas,77,Argentina,62,Arsenal FC (Arg),...,56,CA Regional,56,CA Barracas Central,54,Ros. Central,53,Barracas Central,52,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,zero_one,US,Sporting KC,1,77,0,67,0,65,0,...,50,0,50,0,50,0,50,0,50,1
1074,teams,US,Toronto,Toronto FC,82,Toronto FC II,70,Toronto Croatia,64,Tormenta 2,...,47,Cotonsport,47,Fiorentina,47,Dragon,46,El Farolito,44,NaN
1075,zero_one,US,Toronto,1,82,0,70,0,64,0,...,47,0,47,0,47,0,46,0,44,0
1076,teams,US,Vancouver Whitecaps,Vancouver Whitecaps,100,Vancouver Whitecaps II,93,Vancouver Utd,69,Vancouver Thunderbirds,...,43,Seacoast United Phantoms,42,Lane United FC,42,San Jose Earthquakes,41,Southern C Seahorses,41,NaN
1077,zero_one,US,Vancouver Whitecaps,1,100,0,93,0,69,0,...,43,0,42,0,42,0,41,0,41,0

Row types are alternate. For columns `bf_team{i}`, `teams` rows contain team names, and `zero_one` rows contain Booleans representing the relevance of `bf_team{i}` for the respective footystats `team_name`. 
This structure was convenient for manual checking, but we separate them here so we can work programatically.

In [526]:
teams = team_names_manual_check[team_names_manual_check['row_type'] == 'teams']
zero_one = team_names_manual_check[team_names_manual_check['row_type'] == 'zero_one']

In [527]:
# columns with bf team names
bf_team_cols = [f'bf_team{i+1}' for i in range(13)]
bf_team_cols.append('manual_insertion')

team_names_mapping = {}

# get list of relevant bf team names per footy team
for i, (country_code, team_name) in enumerate(zip(teams['country_code'], teams['team_name'])):
    team_names_mapping[(country_code, team_name)] = list(np.array(teams[bf_team_cols])[i, :][np.array(zero_one[bf_team_cols]).astype(int).astype(bool)[i, :]])

team_names_mapping: {(country, footy_team_name): [bf_team_name1, bf_team_name2, ...]}

In [528]:
team_names_mapping

{('AR', 'Aldosivi'): ['Aldosivi'],
 ('AR', 'Argentinos Juniors'): ['Argentinos Juniors',
  'Argentinos Jrs',
  'Arg Juniors'],
 ('AR', 'Arsenal'): ['Arsenal FC', 'Arsenal FC (Arg)', 'Arsenal De Sarandi'],
 ('AR', 'Atlético Rafaela'): ['Atletico Rafaela', 'Rafaela'],
 ('AR', 'Atlético Tucumán'): ['Atletico Tucuman',
  'Club Atletico Tucuman',
  'Atl Tucuman'],
 ('AR', 'Banfield'): ['Banfield'],
 ('AR', 'Belgrano'): ['Belgrano'],
 ('AR', 'Boca Juniors'): ['Boca Juniors'],
 ('AR', 'Central Córdoba SdE'): ['Central Cordoba (SdE)',
  'Central Cordoba',
  'CA Central Cordoba',
  'Cordoba (SdE)',
  'C Cordoba'],
 ('AR', 'Chacarita Juniors'): ['Chacarita'],
 ('AR', 'Colón'): ['Colon'],
 ('AR', 'Crucero del Norte'): ['Crucero del Norte',
  'Crucero del N',
  'CM Crucero del N',
  'Club Mutual Crucero del Norte',
  'CMC del Norte',
  'Club Mutual Crucero del Nor',
  'Club Mutual Crucero del No',
  'Club Mutual Crucero del ',
  'Crucero',
  'Club Mutual Crucero del'],
 ('AR', 'Defensa y Justicia'): ['Defensa y Justicia',
  'Defensa Justicia',
  'Def y Justicia',
  'Defensa'],
 ('AR', 'Estudiantes'): ['Estudiantes'],
 ('AR', 'Gimnasia La Plata'): ['Gimnasia La Plata',
  'Gim La Plata',
  'Gimnasia Lp',
  'Gimnasia'],
 ('AR', 'Godoy Cruz'): ['Godoy Cruz'],
 ('AR', 'Huracán'): ['Huracan'],
 ('AR', 'Independiente'): ['Independiente', 'CA Independiente'],
 ('AR', 'Lanús'): ['Lanus'],
 ('AR', "Newell's Old Boys"): ['Newells'],
 ('AR', 'Nueva Chicago'): ['Nueva Chicago'],
 ('AR', 'Olimpo'): ['Olimpo'],
 ('AR', 'Patronato'): ['Patronato'],
 ('AR', 'Quilmes'): ['Quilmes'],
 ('AR', 'Racing Club'): ['Racing Club'],
 ('AR', 'River Plate'): ['River Plate'],
 ('AR', 'Rosario Central'): ['Rosario Central',
  'Rosario Centr',
  'Rosario Cen',
  'Ros. Central',
  'Rosario'],
 ('AR', 'San Lorenzo'): ['San Lorenzo', 'CA San Lorenzo'],
 ('AR', 'San Martín San Juan'): ['San Martin San Juan',
  'San Martin de San Juan',
  'San Martin SJ',
  'San Martin'],
 ('AR', 'San Martín Tucumán'): ['San Martin de Tucuman',
  'San Martin de Tucman',
  'San Martin de Tuc',
  'San M de Tucuman',
  'San Martin'],
 ('AR', 'Sarmiento'): ['Sarmiento', 'CA Sarmiento', 'Sarmiento de Junin'],
 ('AR', 'Talleres Córdoba'): ['Talleres de Cordoba',
  'Talleres',
  'Club Atletico Talleres'],
 ('AR', 'Temperley'): ['CA Temperley'],
 ('AR', 'Tigre'): ['Tigre'],
 ('AR', 'Unión Santa Fe'): ['Union Santa Fe', 'Santa Fe'],
 ('AR', 'Vélez Sarsfield'): ['Velez Sarsfield', 'Velez'],
 ('AU', 'Adelaide United'): ['Adelaide United', 'Adelaide'],
 ('AU', 'Brisbane Roar'): ['Brisbane Roar', 'Brisbane'],
 ('AU', 'Central Coast Mariners'): ['Central Coast Mariners', 'Central Coast'],
 ('AU', 'Melbourne City FC'): ['Melbourne City'],
 ('AU', 'Melbourne Victory FC'): ['Melbourne Victory FC', 'Melbourne Victory'],
 ('AU', 'Newcastle Jets FC'): ['Newcastle Jets FC',
  'Newcastle Jets',
  'Newcastle'],
 ('AU', 'Perth Glory FC'): ['Perth Glory', 'Perth'],
 ('AU', 'Sydney FC'): ['Sydney FC', 'Sydney'],
 ('AU', 'Wellington Phoenix'): ['Wellington Phoenix',
  'Wellington Poenix',
  'Wellington'],
 ('AU', 'Western Sydney Wanderers'): ['Western Sydney Wanderers',
  'Western Sydney'],
 ('AU', 'Western United'): ['Western United'],
 ('BR', 'América Mineiro'): ['America MG', 'America Futebol Clube'],
 ('BR', 'Atlético GO'): ['Atletico Go', 'Atletico Goianiense'],
 ('BR', 'Atlético Mineiro'): ['Atletico Mineiro', 'CA Mineiro', 'Atletico MG'],
 ('BR', 'Atlético PR'): ['Atletico PR', 'Athletico-PR', 'Atletico Paranaense'],
 ('BR', 'Avaí'): ['Avai'],
 ('BR', 'Bahia'): ['Bahia', 'Bahia Salvador'],
 ('BR', 'Botafogo'): ['Botafogo', 'Botafogo RJ'],
 ('BR', 'CSA'): ['CSA', 'CSA AL', 'CSA AI'],
 ('BR', 'Ceará'): ['Ceara', 'Ceara SC Fortaleza'],
 ('BR', 'Chapecoense'): ['Chapecoense'],
 ('BR', 'Corinthians'): ['Corinthians', 'Corinthians SP'],
 ('BR', 'Coritiba'): ['Coritiba'],
 ('BR', 'Cruzeiro'): ['Cruzeiro', 'Cruzeiro MG', 'EC Cruzeiro'],
 ('BR', 'Figueirense'): ['Figueirense', 'Figueirense EC'],
 ('BR', 'Flamengo'): ['Flamengo', 'Flamengo RJ'],
 ('BR', 'Fluminense'): ['Fluminense', 'Fluminense FC'],
 ('BR', 'Fortaleza'): ['Fortaleza', 'Fortaleza EC'],
 ('BR', 'Goiás'): ['Goias', 'Goias GO'],
 ('BR', 'Grêmio'): ['Gremio'],
 ('BR', 'Internacional'): ['Internacional', 'Internacional SC'],
 ('BR', 'Joinville'): ['Joinville'],
 ('BR', 'Palmeiras'): ['Palmeiras', 'SE Palmeiras'],
 ('BR', 'Paraná'): ['Parana', 'Parana Clube FC'],
 ('BR', 'Ponte Preta'): ['Ponte Preta', 'AA Ponte Preta Campinas'],
 ('BR', 'Santa Cruz'): ['Santa Cruz', 'Santa Cruz PE'],
 ('BR', 'Santos'): ['Santos', 'Santos FC'],
 ('BR', 'Sport Recife'): ['Sport Recife'],
 ('BR', 'São Paulo'): ['Sao Paulo', 'Sao Paulo SP'],
 ('BR', 'Vasco da Gama'): ['Vasco da Gama', 'Vasco Da Gama'],
 ('BR', 'Vitória'): ['Vitoria', 'Vitoria BA'],
 ('CN', 'Beijing Guoan'): ['Beijing Guoan'],
 ('CN', 'Beijing Renhe'): ['Beijing Renhe', 'Guizhou Renhe'],
 ('CN', 'Changchun Yatai'): ['Changchun Yatai'],
 ('CN', 'Chongqing Dangdai Lifan'): ['Chongqing Lifan'],
 ('CN', 'Dalian Yifang'): ['Dalian Yifang', 'Dalian Pro'],
 ('CN', 'Guangzhou Evergrande'): ['Guangzhou FC'],
 ('CN', 'Guangzhou R&F'): ['Guangzhou R&F'],
 ('CN', 'Guizhou Zhicheng'): ['Guizhou HF Zhicheng', 'Guizhou HF Zhiche'],
 ('CN', 'Hangzhou'): ['Hangzhou Greentown'],
 ('CN', 'Hebei CFFC'): ['Hebei CFFC', 'Hebei'],
 ('CN', 'Henan Jianye'): ['Henan'],
 ('CN', 'Jiangsu Suning'): ['Jiangsu Suning'],
 ('CN', 'Liaoning Kaixin'): ['Liaoning Whowin'],
 ('CN', 'Shandong Luneng'): ['Shandong Luneng'],
 ('CN', 'Shanghai SIPG'): ['Shanghai East Asia'],
 ('CN', 'Shanghai Shenhua'): ['Shanghai Shenhua', 'Shanghai Shenhua FC'],
 ('CN', 'Shanghai Shenxin'): ['Shanghai Shenxin'],
 ('CN', 'Shenzhen'): ['Shenzhen', 'Shenzhen FC'],
 ('CN', 'Shijiazhuang Ever Bright'): ['Shijiazhuan Ever Bright',
  'Shijiazhuang Yongchang'],
 ('CN', 'Tianjin Quanjian'): ['Tianjin Quanjian'],
 ('CN', 'Tianjin Teda'): ['Tianjin Teda', 'Tianjin Jinmen Tiger FC'],
 ('CN', 'Wuhan Zall'): ['Wuhan Zall', 'Wuhan Zall FC'],
 ('CN', 'Yanbian Funde'): ['Yanbian Funde', 'Yanbian Fude'],
 ('DE', '1860 München'): ['1860 Munchen', 'TSV 1860 Munchen', '1860 Munich'],
 ('DE', 'Arminia Bielefeld'): ['Arminia Bielefeld'],
 ('DE', 'Augsburg'): ['Augsburg'],
 ('DE', 'Bayer Leverkusen'): ['Bayer Leverkusen', 'Leverkusen'],
 ('DE', 'Bayern München'): ['Bayern Munich', 'B Munich'],
 ('DE', 'Bochum'): ['Bochum'],
 ('DE', 'Borussia Dortmund'): ['Borussia Dortmund', 'Dortmund'],
 ('DE', "Borussia M'gladbach"): ['Mgladbach'],
 ('DE', 'Darmstadt 98'): ['SV Darmstadt'],
 ('DE', 'Dynamo Dresden'): ['Dynamo Dresden'],
 ('DE', 'Eintracht Braunschweig'): ['Eintracht Braunschweig', 'Braunschweig'],
 ('DE', 'Eintracht Frankfurt'): ['Eintracht Frankfurt'],
 ('DE', 'Erzgebirge Aue'): ['Erzgebirge'],
 ('DE', 'FSV Frankfurt'): ['FSV Frankfurt'],
 ('DE', 'Fortuna Düsseldorf'): ['Fortuna Dusseldorf'],
 ('DE', 'Freiburg'): ['Freiburg'],
 ('DE', 'Greuther Fürth'): ['Greuther Furth', 'G Furth'],
 ('DE', 'Hamburger SV'): ['Hamburger SV', 'Hamburg'],
 ('DE', 'Hannover 96'): ['Hannover'],
 ('DE', 'Heidenheim'): ['FC Heidenheim'],
 ('DE', 'Hertha BSC'): ['Hertha Berlin'],
 ('DE', 'Hoffenheim'): ['Hoffenheim'],
 ('DE', 'Holstein Kiel'): ['Holstein Kiel'],
 ('DE', 'Ingolstadt'): ['Ingolstadt'],
 ('DE', 'Jahn Regensburg'): ['Jahn Regensburg'],
 ('DE', 'Kaiserslautern'): ['Kaiserslautern'],
 ('DE', 'Karlsruher SC'): ['Karlsruhe'],
 ('DE', 'Köln'): ['FC Koln'],
 ('DE', 'MSV Duisburg'): ['MSV Duisburg', 'Duisburg'],
 ('DE', 'Magdeburg'): ['FC Magdeburg'],
 ('DE', 'Mainz 05'): ['FSV Mainz 05', 'Mainz'],
 ('DE', 'Nürnberg'): ['Nurnberg'],
 ('DE', 'Osnabrück'): ['Osnabruck', 'VFL Osnabruck'],
 ('DE', 'Paderborn'): ['Paderborn'],
 ('DE', 'RB Leipzig'): ['RB Leipzig'],
 ('DE', 'Sandhausen'): ['SV Sandhausen'],
 ('DE', 'Schalke 04'): ['Schalke 04', 'Schalke'],
 ('DE', 'St. Pauli'): ['St Pauli'],
 ('DE', 'Stuttgart'): ['Stuttgart'],
 ('DE', 'Union Berlin'): ['Union Berlin'],
 ('DE', 'Wehen Wiesbaden'): ['Wehen Wiesbaden'],
 ('DE', 'Werder Bremen'): ['Werder Bremen', 'W Bremen'],
 ('DE', 'Wolfsburg'): ['Wolfsburg'],
 ('DE', 'Würzburger Kickers'): ['Wurzburger Kickers', 'FC Wurzburger Kickers'],
 ('ES', 'AD Alcorcón'): ['Alcorcon'],
 ('ES', 'Albacete Balompié'): ['Albacete Balompie', 'Albacete'],
 ('ES', 'Almería'): ['Almeria'],
 ('ES', 'Athletic Club Bilbao'): ['Athletic Bilbao', 'Ath Bilbao'],
 ('ES', 'Athletic Club II'): ['Athletic Bilbao B', 'Ath Bilbao B'],
 ('ES', 'Atlético Madrid'): ['Atletico Madrid', 'Atl Madrid'],
 ('ES', 'Barcelona II'): ['Barcelona B'],
 ('ES', 'CA Osasuna'): ['Osasuna'],
 ('ES', 'CD Lugo'): ['Lugo'],
 ('ES', 'CD Numancia'): ['Numancia'],
 ('ES', 'CD Tenerife'): ['Tenerife'],
 ('ES', 'CF Fuenlabrada'): ['Fuenlabrada'],
 ('ES', 'CF Reus Deportiu'): ['Reus Deportiu'],
 ('ES', 'Celta de Vigo'): ['Celta Vigo'],
 ('ES', 'Cultural y Deportiva Leonesa'): ['Cultural Leonesa', 'Leonesa'],
 ('ES', 'Cádiz'): ['Cadiz'],
 ('ES', 'Córdoba'): ['Cordoba'],
 ('ES', 'Deportivo Alavés'): ['Alaves'],
 ('ES', 'Deportivo La Coruña'): ['Deportivo La Coruna II', 'Deportivo'],
 ('ES', 'Elche CF'): ['Elche'],
 ('ES', 'Extremadura UD'): ['Extremadura UD', 'Extremadura'],
 ('ES', 'FC Barcelona'): ['Barcelona'],
 ('ES', 'Getafe CF'): ['Getafe'],
 ('ES', 'Gimnàstic de Tarragona'): ['Gimnastic Tarragona', 'Gimnastic'],
 ('ES', 'Girona FC'): ['Girona'],
 ('ES', 'Granada CF'): ['Granada CF', 'Granada'],
 ('ES', 'Leganés'): ['Leganes'],
 ('ES', 'Levante UD'): ['Levante'],
 ('ES', 'Llagostera-Costa Brava'): ['Llagostera', 'UE Llagostera'],
 ('ES', 'Lorca'): ['Lorca FC', 'La Hoya Lorca'],
 ('ES', 'Mirandés'): ['Mirandes', 'CD Mirandes'],
 ('ES', 'Málaga CF'): ['Malaga'],
 ('ES', 'RCD Espanyol'): ['Espanyol'],
 ('ES', 'RCD Mallorca'): ['Mallorca'],
 ('ES', 'Racing Santander'): ['Racing Santander'],
 ('ES', 'Rayo Majadahonda'): ['Rayo Majadahonda', 'CF Rayo Majadahonda'],
 ('ES', 'Rayo Vallecano'): ['Rayo Vallecano'],
 ('ES', 'Real Betis'): ['Real Betis', 'Betis'],
 ('ES', 'Real Madrid'): ['Real Madrid'],
 ('ES', 'Real Oviedo'): ['Oviedo'],
 ('ES', 'Real Sociedad'): ['Real Sociedad', 'Sociedad'],
 ('ES', 'Real Valladolid'): ['Valladolid'],
 ('ES', 'Real Zaragoza'): ['Zaragoza'],
 ('ES', 'SD Eibar'): ['Eibar'],
 ('ES', 'SD Huesca'): ['Huesca'],
 ('ES', 'SD Ponferradina'): ['Ponferradina'],
 ('ES', 'Sevilla FC'): ['Sevilla'],
 ('ES', 'Sevilla II'): ['Sevilla B'],
 ('ES', 'Sporting Gijón'): ['Sporting Gijon'],
 ('ES', 'UCAM Murcia CF'): ['UCAM Murcia', 'Murcia'],
 ('ES', 'UD Las Palmas'): ['UD Las Palmas', 'Las Palmas'],
 ('ES', 'Valencia CF'): ['Valencia'],
 ('ES', 'Villarreal'): ['Villarreal'],
 ('FR', 'Ajaccio'): ['AC Ajaccio'],
 ('FR', 'Amiens SC'): ['Amiens', 'SC Amiens'],
 ('FR', 'Angers SCO'): ['Angers'],
 ('FR', 'Auxerre'): ['Auxerre'],
 ('FR', 'Bastia'): ['Bastia', 'SC Bastia'],
 ('FR', 'Bordeaux'): ['Bordeaux', 'Bordeaux Stade'],
 ('FR', 'Bourg-en-Bresse'): ['Bourg-en-Bresse',
  'Bourg-en-Bresse Peronnas',
  'Bourg-Peronnas'],
 ('FR', 'Brest'): ['Brest', 'ASPTT Brest'],
 ('FR', 'Béziers'): ['Beziers', 'AS Beziers'],
 ('FR', 'Caen'): ['Caen'],
 ('FR', 'Chambly'): ['Chambly FC',
  'Chambly-Oise',
  'Chambly Oise',
  'Chambly Thelle'],
 ('FR', 'Châteauroux'): ['Chateauroux'],
 ('FR', 'Clermont'): ['Clermont'],
 ('FR', 'Créteil'): ['Creteil'],
 ('FR', 'Dijon'): ['Dijon'],
 ('FR', 'Gazélec Ajaccio'): ['Gfc Ajaccio', 'Ajaccio GFCO'],
 ('FR', 'Grenoble Foot 38'): ['Grenoble Foot 38', 'Grenoble'],
 ('FR', 'Guingamp'): ['Guingamp'],
 ('FR', 'Laval'): ['Laval'],
 ('FR', 'Le Havre'): ['Le Havre'],
 ('FR', 'Le Mans'): ['Le Mans'],
 ('FR', 'Lens'): ['Lens'],
 ('FR', 'Lille'): ['Lille'],
 ('FR', 'Lorient'): ['Lorient'],
 ('FR', 'Metz'): ['Metz'],
 ('FR', 'Monaco'): ['Monaco'],
 ('FR', 'Montpellier'): ['Montpellier', 'Montpellier Herault SC'],
 ('FR', 'Nancy'): ['Nancy'],
 ('FR', 'Nantes'): ['Nantes'],
 ('FR', 'Nice'): ['Nice'],
 ('FR', 'Niort'): ['Niort'],
 ('FR', 'Nîmes'): ['Nimes'],
 ('FR', 'Olympique Lyonnais'): ['Lyon'],
 ('FR', 'Olympique Marseille'): ['Marseille'],
 ('FR', 'Orléans'): ['Orleans'],
 ('FR', 'PSG'): ['PSG', 'Paris St-G'],
 ('FR', 'Paris'): ['Paris FC'],
 ('FR', 'Quevilly Rouen'): ['Quevilly Rouen', 'Quevilly', 'US Quevilly'],
 ('FR', 'Red Star'): ['Red Star', 'Red Star FC'],
 ('FR', 'Reims'): ['Reims'],
 ('FR', 'Rennes'): ['Rennes'],
 ('FR', 'Rodez '): ['Rodez', 'Rodez AF', 'Rodez Aveyron'],
 ('FR', 'Saint-Étienne'): ['Saint-Etienne', 'St Etienne'],
 ('FR', 'Sochaux'): ['Sochaux'],
 ('FR', 'Strasbourg'): ['Strasbourg'],
 ('FR', 'Thonon Evian FC'): ['Evian TG'],
 ('FR', 'Toulouse'): ['Toulouse', 'Toulouse FC'],
 ('FR', 'Tours'): ['Tours'],
 ('FR', 'Troyes'): ['Troyes', 'ESTAC Troyes'],
 ('FR', 'Valenciennes'): ['Valenciennes'],
 ('GB', 'AFC Bournemouth'): ['AFC Bournemouth', 'Bournemouth'],
 ('GB', 'Aberdeen'): ['Aberdeen'],
 ('GB', 'Arsenal'): ['Arsenal'],
 ('GB', 'Aston Villa'): ['Aston Villa'],
 ('GB', 'Barnsley'): ['Barnsley'],
 ('GB', 'Birmingham City'): ['Birmingham'],
 ('GB', 'Blackburn Rovers'): ['Blackburn'],
 ('GB', 'Bolton Wanderers'): ['Bolton'],
 ('GB', 'Brentford'): ['Brentford'],
 ('GB', 'Brighton & Hove Albion'): ['Brighton'],
 ('GB', 'Bristol City'): ['Bristol City'],
 ('GB', 'Burnley'): ['Burnley'],
 ('GB', 'Burton Albion'): ['Burton Albion', 'Burton'],
 ('GB', 'Cardiff City'): ['Cardiff City', 'Cardiff'],
 ('GB', 'Celtic'): ['Celtic'],
 ('GB', 'Charlton Athletic'): ['Charlton Athletic', 'Charlton'],
 ('GB', 'Chelsea'): ['Chelsea'],
 ('GB', 'Crystal Palace'): ['Crystal Palace', 'C Palace'],
 ('GB', 'Derby County'): ['Derby'],
 ('GB', 'Dundee'): ['Dundee'],
 ('GB', 'Dundee United'): ['Dundee Utd'],
 ('GB', 'Everton'): ['Everton'],
 ('GB', 'Fulham'): ['Fulham'],
 ('GB', 'Hamilton Academical'): ['Hamilton'],
 ('GB', 'Hearts'): ['Hearts'],
 ('GB', 'Hibernian'): ['Hibernian'],
 ('GB', 'Huddersfield Town'): ['Huddersfield Town', 'Huddersfield'],
 ('GB', 'Hull City'): ['Hull City', 'Hull'],
 ('GB', 'Inverness CT'): ['Inverness CT'],
 ('GB', 'Ipswich Town'): ['Ipswich Town', 'Ipswich'],
 ('GB', 'Kilmarnock'): ['Kilmarnock'],
 ('GB', 'Leeds United'): ['Leeds Utd', 'Leeds'],
 ('GB', 'Leicester City'): ['Leicester City', 'Leicester'],
 ('GB', 'Liverpool'): ['Liverpool'],
 ('GB', 'Livingston'): ['Livingston'],
 ('GB', 'Luton Town'): ['Luton Town', 'Luton'],
 ('GB', 'Manchester City'): ['Manchester City', 'Man City'],
 ('GB', 'Manchester United'): ['Man United', 'Man Utd'],
 ('GB', 'Middlesbrough'): ['Middlesbrough'],
 ('GB', 'Millwall'): ['Millwall', 'Millwal'],
 ('GB', 'Milton Keynes Dons'): ['Milton Keynes Dons', 'M K Dons', 'MK Dons'],
 ('GB', 'Motherwell'): ['Motherwell'],
 ('GB', 'Newcastle United'): ['Newcastle'],
 ('GB', 'Norwich City'): ['Norwich City', 'Norwich'],
 ('GB', 'Nottingham Forest'): ['Nottingham Forest', 'Nottm Forest'],
 ('GB', 'Partick Thistle'): ['Partick'],
 ('GB', 'Preston North End'): ['Preston'],
 ('GB', 'Queens Park Rangers'): ['Queens Park', 'QPR'],
 ('GB', 'Rangers'): ['Rangers'],
 ('GB', 'Reading'): ['Reading'],
 ('GB', 'Ross County'): ['Ross Co'],
 ('GB', 'Rotherham United'): ['Rotherham Utd', 'Rotherham'],
 ('GB', 'Sheffield United'): ['Sheffield United', 'Sheff Utd', 'Sheffield'],
 ('GB', 'Sheffield Wednesday'): ['Sheffield Wednesday', 'Sheff Wed'],
 ('GB', 'Southampton'): ['Southampton'],
 ('GB', 'St. Johnstone'): ['St Johnstone', 'St Johnstone '],
 ('GB', 'St. Mirren'): ['St Mirren'],
 ('GB', 'Stoke City'): ['Stoke City', 'Stoke'],
 ('GB', 'Sunderland'): ['Sunderland'],
 ('GB', 'Swansea City'): ['Swansea'],
 ('GB', 'Tottenham Hotspur'): ['Tottenham'],
 ('GB', 'Watford'): ['Watford'],
 ('GB', 'West Bromwich Albion'): ['West Brom'],
 ('GB', 'West Ham United'): ['West Ham'],
 ('GB', 'Wigan Athletic'): ['Wigan Athletic', 'Wigan'],
 ('GB', 'Wolverhampton Wanderers'): ['Wolves'],
 ('IL', 'Ashdod'): ['MS Ashdod', 'FC Ashdod'],
 ('IL', 'Beitar Jerusalem'): ['Beitar Jerusalem'],
 ('IL', 'Bnei Sakhnin'): ['Bnei Sakhnin'],
 ('IL', 'Bnei Yehuda'): ['Bnei Yehuda'],
 ('IL', 'Hapoel Acre'): ['Hapoel Akko'],
 ('IL', 'Hapoel Ashkelon'): ['Hapoel Ashkelon', 'FC Hapoel Ashkelon'],
 ('IL', "Hapoel Be'er Sheva"): ['Hapoel Beer Sheva'],
 ('IL', 'Hapoel Hadera'): ['Hapoel Hadera', 'Hapoel Eran Hadera'],
 ('IL', 'Hapoel Haifa'): ['Hapoel Haifa'],
 ('IL', 'Hapoel Kfar Saba'): ['Hapoel Kfar Saba', 'Hapoel K Saba'],
 ('IL', "Hapoel Ra'anana"): ['Hapoel Raanana'],
 ('IL', 'Hapoel Tel Aviv'): ['Hapoel Tel Aviv'],
 ('IL', 'Ironi Kiryat Shmona'): ['Hapoel Kiryat Shmona',
  'Hapoel Ironi Kiryat Sh'],
 ('IL', 'Maccabi Haifa'): ['Maccabi Haifa'],
 ('IL', 'Maccabi Netanya'): ['Maccabi Netanya'],
 ('IL', 'Maccabi Petah Tikva'): ['Maccabi Petah Tikva',
  'Maccabi Petach Tikva',
  'Maccabi Ironi Petah Tikva'],
 ('IL', 'Maccabi Tel Aviv'): ['Maccabi Tel Aviv'],
 ('IL', 'Sektzia Nes Tziona'): ['Sektzia Nes Tziona'],
 ('IT', 'AC Milan'): ['AC Milan'],
 ('IT', 'Ascoli'): ['Ascoli'],
 ('IT', 'Atalanta'): ['Atalanta'],
 ('IT', 'Avellino'): ['Avellino', 'Calcio Avellino', 'Calcio Avellino SSD'],
 ('IT', 'Bari 1908'): ['Bari', 'SSD Bari'],
 ('IT', 'Benevento'): ['Benevento'],
 ('IT', 'Bologna'): ['Bologna'],
 ('IT', 'Brescia'): ['Brescia'],
 ('IT', 'Cagliari'): ['Cagliari'],
 ('IT', 'Calcio Padova'): ['Padova'],
 ('IT', 'Carpi'): ['Carpi'],
 ('IT', 'Cesena'): ['Cesena', 'RC Cesena FC'],
 ('IT', 'Chievo'): ['Chievo'],
 ('IT', 'Cittadella'): ['Cittadella'],
 ('IT', 'Como'): ['Como'],
 ('IT', 'Cosenza'): ['Cosenza'],
 ('IT', 'Cremonese'): ['Cremonese', 'US Cremonese'],
 ('IT', 'Crotone'): ['Crotone'],
 ('IT', 'Empoli'): ['Empoli'],
 ('IT', 'Fiorentina'): ['Fiorentina'],
 ('IT', 'Foggia'): ['Foggia'],
 ('IT', 'Frosinone'): ['Frosinone'],
 ('IT', 'Genoa'): ['Genoa'],
 ('IT', 'Hellas Verona'): ['Hellas Verona', 'Verona'],
 ('IT', 'Inter Milan'): ['Inter Milan', 'Inter'],
 ('IT', 'Juve Stabia'): ['Juve Stabia'],
 ('IT', 'Juventus'): ['Juventus'],
 ('IT', 'Latina'): ['Latina'],
 ('IT', 'Lazio'): ['Lazio'],
 ('IT', 'Lecce'): ['Lecce'],
 ('IT', 'Livorno'): ['Livorno'],
 ('IT', 'Modena'): ['Modena', 'Modena FC 2018 SSD'],
 ('IT', 'Napoli'): ['Napoli'],
 ('IT', 'Novara'): ['Novara'],
 ('IT', 'Palermo'): ['Palermo'],
 ('IT', 'Parma'): ['Parma'],
 ('IT', 'Perugia'): ['Perugia'],
 ('IT', 'Pescara'): ['Pescara'],
 ('IT', 'Pisa'): ['Pisa'],
 ('IT', 'Pordenone'): ['Pordenone', 'Pordenone Calcio'],
 ('IT', 'Pro Vercelli'): ['Pro Vercelli', 'Pro Vercelli 1892'],
 ('IT', 'Roma'): ['Roma'],
 ('IT', 'SPAL'): ['Spal'],
 ('IT', 'Salernitana'): ['Salernitana'],
 ('IT', 'Sampdoria'): ['Sampdoria'],
 ('IT', 'Sassuolo'): ['Sassuolo'],
 ('IT', 'Spezia'): ['Spezia'],
 ('IT', 'Ternana'): ['Ternana'],
 ('IT', 'Torino'): ['Torino'],
 ('IT', 'Trapani'): ['Trapani'],
 ('IT', 'Udinese'): ['Udinese'],
 ('IT', 'Venezia'): ['Venezia'],
 ('IT', 'Vicenza'): ['Vicenza', 'LR Vicenza Virtus'],
 ('IT', 'Virtus Entella'): ['Entella'],
 ('IT', 'Virtus Lanciano'): ['Lanciano'],
 ('JP', 'Albirex Niigata'): ['Albirex Niigata', 'Niigata'],
 ('JP', 'Avispa Fukuoka'): ['Fukuoka'],
 ('JP', 'Cerezo Osaka'): ['Cerezo Osaka', 'C-Osaka'],
 ('JP', 'Consadole Sapporo'): ['Consadole Sapporo', 'Sapporo'],
 ('JP', 'Gamba Osaka'): ['Gamba Osaka', 'G-Osaka'],
 ('JP', 'Jubilo Iwata'): ['Jubilo Iwata', 'Iwata'],
 ('JP', 'Kashima Antlers'): ['Kashima Antlers', 'Kashima'],
 ('JP', 'Kashiwa Reysol'): ['Kashiwa Reysol', 'Kashiwa'],
 ('JP', 'Kawasaki Frontale'): ['Kawasaki Frontale', 'Kawasaki'],
 ('JP', 'Matsumoto Yamaga'): ['Matsumoto Yamaga FC', 'Matsumoto'],
 ('JP', 'Montedio Yamagata'): ['Yamagata'],
 ('JP', 'Nagoya Grampus'): ['Nagoya Grampus', 'Nagoya'],
 ('JP', 'Oita Trinita'): ['Oita'],
 ('JP', 'Omiya Ardija'): ['Omiya Ardija', 'Omiya'],
 ('JP', 'Sagan Tosu'): ['Sagan Tosu', 'Tosu'],
 ('JP', 'Sanfrecce Hiroshima'): ['Hiroshima'],
 ('JP', 'Shimizu S-Pulse'): ['Shimizu S Pulse', 'Shimizu'],
 ('JP', 'Shonan Bellmare'): ['Shonan Bellmare', 'Shonan'],
 ('JP', 'Tokyo'): ['FC Tokyo'],
 ('JP', 'Urawa Reds'): ['Urawa'],
 ('JP', 'V-Varen Nagasaki'): ['V-Varen Nagasaki', 'Nagasaki'],
 ('JP', 'Vegalta Sendai'): ['Vegalta Sendai', 'Sendai'],
 ('JP', 'Ventforet Kofu'): ['Kofu'],

Export

In [529]:
TEAM_NAMES_MAPPING_PATH = '../data/interim/team_names_mapping.json'

In [530]:
# JSON keys must be str, int, float, bool or None, not tuple.
# so we use the string representation of the tuples.
team_names_mapping_tuples_as_strings = {str(k): v for k, v in team_names_mapping.items()}

with open(TEAM_NAMES_MAPPING_PATH, "w") as outfile:
    json.dump(team_names_mapping_tuples_as_strings, outfile)

## search `event id`s

Now we can get Betfair `event id`s for the relevant matches in the footystats data set.  
So we:  
 - iterate over the `footy` DataFrame;
 - filter the row(s) in the Betfair `event_basic_info_df` DataFrame that have:
     - the same country as the instance in the `footy` DataFrame;  
     - compatible home and away team names;
     - the same match start datetime.

Get a list of lists `event_ids`: each element is a list with the Betfair `event id`(s) found for each match.

In [533]:
event_ids = []

for i in tqdm(range(len(footy))):
    mask_country = event_basic_info_df['country_caus'] == footy.iloc[i]['country_code']
    # bf datetime is TZ aware and footy datetime is not. So explicitly set `.tz_localize(pytz.UTC)`
    mask_datetime = event_basic_info_df['open_date'] == footy.iloc[i]['date_GMT'].tz_localize(pytz.UTC)
    mask_home = event_basic_info_df['home_team'].isin(team_names_mapping[(footy.iloc[i]['country_code'], footy.iloc[i]['home_team_name'])])
    mask_away = event_basic_info_df['away_team'].isin(team_names_mapping[(footy.iloc[i]['country_code'], footy.iloc[i]['away_team_name'])])
    mask = mask_country * mask_datetime * mask_home * mask_away
    event_ids.append(list(event_basic_info_df[mask]['event_id'].values))

100%|████████████████████████████████████████████████████████████████████████████| 36086/36086 [53:02<00:00, 11.34it/s]

In [534]:
# inspect a few examples
event_ids[:5]

[['27433105'], ['27433103'], ['27433106'], [], ['27433114']]

Let us check how many relevant matches have Betfair market data.

In [535]:
event_ids_lens = [len(elt) for elt in event_ids]

In [536]:
pd.Series(event_ids_lens).value_counts()

1    32047
0     3956
2       82
3        1
dtype: int64

In [537]:
(pd.Series(event_ids_lens).value_counts().sum() - pd.Series(event_ids_lens).value_counts()[0]) / pd.Series(event_ids_lens).value_counts().sum()

0.8903729978384969

Betfair `event id`s were found for 89% of relevant matches.  
We contacted Betfair and they confirmed that historical data is not available for all matches that actually occured and for which there was a betting market.  
The reasons are technical and may be assumed random.  

Let us investigate the small number of matches with more than one `event id`.

In [538]:
mask_more_than_one_event_id = [True if len(elt) > 1 else False for elt in event_ids]

In [539]:
pd.Series(mask_more_than_one_event_id).value_counts()

False    36003
True        83
dtype: int64

We inspect the data on those matches.  
The DataFrame `more_than_one_event_id` is a subset of Betfair `event_basic_info_df` for those matches.

In [540]:
more_than_one_event_id = pd.DataFrame()

for i in tqdm(range(len(footy[mask_more_than_one_event_id]))):
    mask_country = event_basic_info_df['country_caus'] == footy[mask_more_than_one_event_id].iloc[i]['country_code']
    # bf datetime is TZ aware and footy datetime is not. So explicitly set `.tz_localize(pytz.UTC)`
    mask_datetime = event_basic_info_df['open_date'] == footy[mask_more_than_one_event_id].iloc[i]['date_GMT'].tz_localize(pytz.UTC)
    mask_home = event_basic_info_df['home_team'].isin(team_names_mapping[(footy[mask_more_than_one_event_id].iloc[i]['country_code'], footy[mask_more_than_one_event_id].iloc[i]['home_team_name'])])
    mask_away = event_basic_info_df['away_team'].isin(team_names_mapping[(footy[mask_more_than_one_event_id].iloc[i]['country_code'], footy[mask_more_than_one_event_id].iloc[i]['away_team_name'])])
    mask = mask_country * mask_datetime * mask_home * mask_away
    # event_ids.append(list(event_basic_info_df[mask]['event_id'].values))
    more_than_one_event_id = pd.concat([more_than_one_event_id, event_basic_info_df[mask]])

100%|██████████████████████████████████████████████████████████████████████████████████| 83/83 [00:08<00:00, 10.25it/s]

In [541]:
pd.options.display.max_rows = 200

Let us inspect the DataFrame with data on matches with more than one compatible event id.

In [542]:
more_than_one_event_id

,event_id,country,open_date,home_team,away_team,event_name,country_caus
298208,28970987,AR,2018-10-27 00:00:00+00:00,Huracan,Colon,Huracan v Colon,AR
298363,28962339,AR,2018-10-27 00:00:00+00:00,Huracan,Colon,Huracan v Colon,AR
298217,28972910,AR,2018-10-27 18:00:00+00:00,River Plate,Aldosivi,River Plate v Aldosivi,AR
298364,28962340,AR,2018-10-27 18:00:00+00:00,River Plate,Aldosivi,River Plate v Aldosivi,AR
298216,28972909,AR,2018-10-27 20:15:00+00:00,Gimnasia La Plata,Boca Juniors,Gimnasia La Plata v Boca Juniors,AR
298365,28962342,AR,2018-10-27 20:15:00+00:00,Gimnasia La Plata,Boca Juniors,Gimnasia La Plata v Boca Juniors,AR
277185,28704749,AU,2018-05-05 09:50:00+00:00,Newcastle,Melbourne Victory,Newcastle Jets v Melbourne Victory,AU
277186,28704764,AU,2018-05-05 09:50:00+00:00,Newcastle Jets,Melbourne Victory,Newcastle Jets v Melbourne Victory,AU
295910,28704774,AU,2018-05-05 09:50:00+00:00,Newcastle Jets,Melbourne Victory,Newcastle Jets v Melbourne Victory,AU
297231,28831913,AU,2018-10-19 08:50:00+00:00,Adelaide United,Sydney,Adelaide United v Sydney FC,AU
297232,28831913,AU,2018-10-19 08:50:00+00:00,Adelaide United,Sydney,Adelaide United v Sydney,AU
297744,28831916,AU,2018-10-21 04:00:00+00:00,Wellington Phoenix,Newcastle,Wellington Phoenix v Newcastle Jets,AU
297745,28831916,AU,2018-10-21 04:00:00+00:00,Wellington Phoenix,Newcastle Jets,Wellington Phoenix v Newcastle Jets,AU
19656,29053589,AU,2019-01-05 06:35:00+00:00,Adelaide United,Wellington Poenix,Adelaide United v Wellington Poenix,AU
22254,29065462,AU,2019-01-05 06:35:00+00:00,Adelaide United,Wellington Phoenix,Adelaide United v Wellington Phoenix,AU
16993,29121265,AU,2019-02-23 06:35:00+00:00,Wellington Phoenix,Sydney,Wellington Phoenix v Sydney,AU
18103,29125193,AU,2019-02-23 06:35:00+00:00,Wellington Phoenix,Sydney,Wellington Phoenix v Sydney,AU
17245,29121269,AU,2019-02-24 08:00:00+00:00,Western Sydney Wanderers,Perth Glory,Western Sydney Wanderers v Perth Glory,AU
18394,29125199,AU,2019-02-24 08:00:00+00:00,Western Sydney Wanderers,Perth Glory,Western Sydney Wanderers v Perth Glory,AU
35430,29527488,AU,2019-10-19 08:30:00+00:00,Central Coast Mariners,Newcastle,Central Coast Mariners v Newcastle United Jets,AU
35432,29527488,AU,2019-10-19 08:30:00+00:00,Central Coast Mariners,Newcastle Jets,Central Coast Mariners v Newcastle Jets,AU
31107,29552613,AU,2019-11-01 08:30:00+00:00,Sydney,Newcastle,Sydney FC v Newcastle Jets,AU
31108,29552613,AU,2019-11-01 08:30:00+00:00,Sydney,Newcastle Jets,Sydney FC v Newcastle Jets,AU
31690,29577570,AU,2019-11-16 08:30:00+00:00,Western United,Newcastle,Western United v Newcastle Jets,AU
31691,29577570,AU,2019-11-16 08:30:00+00:00,Western United,Newcastle Jets,Western United v Newcastle Jets,AU
226932,27915291,BR,2016-09-08 00:45:00+00:00,Coritiba,Gremio,Coritiba v Gremio,BR
227592,27909692,BR,2016-09-08 00:45:00+00:00,Coritiba,Gremio,Coritiba v Gremio,BR
226934,27915295,BR,2016-09-09 00:00:00+00:00,Internacional,Santos,Internacional v Santos,BR
227655,27909690,BR,2016-09-09 00:00:00+00:00,Internacional,Santos,Internacional v Santos,BR
147453,27506646,CN,2015-08-11 11:35:00+00:00,Hangzhou Greentown,Shanghai Shenhua,Hangzhou Greentown v Shanghai Shenhua,CN
150668,27504801,CN,2015-08-11 11:35:00+00:00,Hangzhou Greentown,Shanghai Shenhua,Hangzhou Greentown v Shanghai Shenhua,CN
147452,27506644,CN,2015-08-11 11:35:00+00:00,Chongqing Lifan,Guizhou Renhe,Chongqing Lifan v Guizhou Renhe,CN
150669,27504803,CN,2015-08-11 11:35:00+00:00,Chongqing Lifan,Guizhou Renhe,Chongqing Lifan v Guizhou Renhe,CN
10560,29406298,CN,2019-08-11 11:35:00+00:00,Beijing Guoan,Guangzhou FC,Beijing Guoan v Guangzhou FC,CN
10561,29406300,CN,2019-08-11 11:35:00+00:00,Beijing Guoan,Guangzhou FC,Beijing Guoan v Guangzhou FC,CN
233854,28287998,GB,2017-08-12 14:00:00+00:00,C Palace,Huddersfield,C Palace v Huddersfield,GB
252420,28271225,GB,2017-08-12 14:00:00+00:00,Crystal Palace,Huddersfield Town,Crystal Palace v Huddersfield Town,GB
234580,28288000,GB,2017-08-19 14:00:00+00:00,Liverpool,C Palace,Liverpool v C Palace,GB
252426,28271454,GB,2017-08-19 14:00:00+00:00,Liverpool,Crystal Palace,Liverpool v Crystal Palace,GB
235117,28288003,GB,2017-08-20 12:30:00+00:00,Huddersfield,Newcastle,Huddersfield v Newcastle,GB
237604,28337301,GB,2017-08-20 12:30:00+00:00,Huddersfield,Newcastle,Huddersfield v Newcastle,GB
235115,28271459,GB,2017-08-20 15:00:00+00:00,Tottenham,Chelsea,Tottenham v Chelsea,GB
237601,28337289,GB,2017-08-20 15:00:00+00:00,Tottenham,Chelsea,Tottenham v Chelsea,GB
235352,28271455,GB,2017-08-21 19:00:00+00:00,Man City,Everton,Man City v Everton,GB
237602,28337300,GB,2017-08-21 19:00:00+00:00,Man City,Everton,Man City v Everton,GB
262756,28474130,GB,2017-11-28 19:45:00+00:00,Leicester City,Tottenham,Leicester City v Tottenham,GB
264528,28477107,GB,2017-11-28 19:45:00+00:00,Leicester,Tottenham,Leicester v Tottenham,GB
262758,28474151,GB,2017-11-29 20:00:00+00:00,Stoke City,Liverpool,Stoke City v Liverpool,GB
264612,28477111,GB,2017-11-29 20:00:00+00:00,Stoke,Liverpool,Stoke v Liverpool,GB
239043,28477113,GB,2017-12-02 15:00:00+00:00,Leicester,Burnley,Leicester v Burnley,GB
262760,28474255,GB,2017-12-02 15:00:00+00:00,Leicester City,Burnley,Leicester City v Burnley,GB
239045,28477114,GB,2017-12-02 15:00:00+00:00,Stoke,Swansea,Stoke v Swansea,GB
262762,28474256,GB,2017-12-02 15:00:00+00:00,Stoke City,Swansea,Stoke City v Swansea,GB
230438,28201642,FR,2017-04-24 18:45:00+00:00,Le Havre,Lens,Le Havre v Lens,FR
231062,28202031,FR,2017-04-24 18:45:00+00:00,Le Havre,Lens,Le Havre v Lens,FR
16586,29112522,FR,2019-02-11 19:45:00+00:00,Brest,Auxerre,Brest v Auxerre,FR
19354,29114300,FR,2019-02-11 19:45:00+00:00,Brest,Auxerre,Brest v Auxerre,FR
13354,29403799,FR,2019-08-09 18:00:00+00:00,Niort,Chateauroux,Niort v Chateauroux,FR
13399,29403800,FR,2019-08-09 18:00:00+00:00,Niort,Chateauroux,Niort v Chateauroux,FR
13348,29403767,FR,2019-08-09 18:00:00+00:00,Le Mans,Valenciennes,Le Mans v Valenciennes,FR
13393,29403765,FR,2019-08-09 18:00:00+00:00,Le Mans,Valenciennes,Le Mans v Valenciennes,FR
13355,29403802,FR,2019-08-09 18:00:00+00:00,ESTAC Troyes,Le Havre,ESTAC Troyes v Le Havre,FR
13400,29403801,FR,2019-08-09 18:00:00+00:00,ESTAC Troyes,Le Havre,ESTAC Troyes v Le Havre,FR
13352,29403795,FR,2019-08-09 18:00:00+00:00,Rodez,Paris FC,Rodez v Paris FC,FR
13397,29403796,FR,2019-08-09 18:00:00+00:00,Rodez,Paris FC,Rodez v Paris FC,FR
13351,29403794,FR,2019-08-09 18:00:00+00:00,Guingamp,Orleans,Guingamp v Orleans,FR
13396,29403793,FR,2019-08-09 18:00:00+00:00,Guingamp,Orleans,Guingamp v Orleans,FR
13350,29403788,FR,2019-08-09 18:00:00+00:00,AC Ajaccio,Caen,AC Ajaccio v Caen,FR
13395,29403792,FR,2019-08-09 18:00:00+00:00,AC Ajaccio,Caen,AC Ajaccio v Caen,FR
13353,29403798,FR,2019-08-09 18:00:00+00:00,Nancy,Lorient,Nancy v Lorient,FR
13398,29403797,FR,2019-08-09 18:00:00+00:00,Nancy,Lorient,Nancy v Lorient,FR
13349,29403786,FR,2019-08-09 18:00:00+00:00,Sochaux,Auxerre,Sochaux v Auxerre,FR
13394,29403787,FR,2019-08-09 18:00:00+00:00,Sochaux,Auxerre,Sochaux v Auxerre,FR
240981,28099222,DE,2017-02-12 12:30:00+00:00,St Pauli,Dynamo Dresden,St Pauli v Dynamo Dresden,DE
241680,28110933,DE,2017-02-12 12:30:00+00:00,St Pauli,Dynamo Dresden,St Pauli v Dynamo Dresden,DE
249924,28314570,DE,2017-07-29 11:00:00+00:00,Ingolstadt,Union Berlin,Ingolstadt v Union Berlin,DE
250460,28296962,DE,2017-07-29 11:00:00+00:00,Ingolstadt,Union Berlin,Ingolstadt v Union Berlin,DE
250290,28314568,DE,2017-07-29 13:30:00+00:00,SV Darmstadt,Greuther Furth,SV Darmstadt v Greuther Furth,DE
250462,28296964,DE,2017-07-29 13:30:00+00:00,SV Darmstadt,Greuther Furth,SV Darmstadt v Greuther Furth,DE
249926,28314571,DE,2017-07-29 13:30:00+00:00,Arminia Bielefeld,Jahn Regensburg,Arminia Bielefeld v Jahn Regensburg,DE
250458,28296960,DE,2017-07-29 13:30:00+00:00,Arminia Bielefeld,Jahn Regensburg,Arminia Bielefeld v Jahn Regensburg,DE
235119,28296087,DE,2017-08-20 13:30:00+00:00,Freiburg,Eintracht Frankfurt,Freiburg v Eintracht Frankfurt,DE
237605,28337304,DE,2017-08-20 13:30:00+00:00,Freiburg,Eintracht Frankfurt,Freiburg v Eintracht Frankfurt,DE
235121,28296098,DE,2017-08-20 16:00:00+00:00,Mgladbach,FC Koln,Mgladbach v FC Koln,DE
237606,28337308,DE,2017-08-20 16:00:00+00:00,Mgladbach,FC Koln,Mgladbach v FC Koln,DE
259027,28237531,IT,2017-05-22 18:45:00+00:00,Pescara,Palermo,Pescara v Palermo,IT
260061,28225115,IT,2017-05-22 18:45:00+00:00,Pescara,Palermo,Pescara v Palermo,IT
296551,28935077,IT,2018-10-20 13:00:00+00:00,Roma,Spal,Roma v SPAL,IT
297484,28950596,IT,2018-10-20 13:00:00+00:00,Roma,Spal,Roma v SPAL,IT
296552,28935078,IT,2018-10-20 16:00:00+00:00,Juventus,Genoa,Juventus v Genoa,IT
297483,28950595,IT,2018-10-20 16:00:00+00:00,Juventus,Genoa,Juventus v Genoa,IT
296553,28935079,IT,2018-10-20 18:30:00+00:00,Udinese,Napoli,Udinese v Napoli,IT
297482,28950594,IT,2018-10-20 18:30:00+00:00,Udinese,Napoli,Udinese v Napoli,IT
296554,28935081,IT,2018-10-21 10:30:00+00:00,Frosinone,Empoli,Frosinone v Empoli,IT
297789,28950611,IT,2018-10-21 10:30:00+00:00,Frosinone,Empoli,Frosinone v Empoli,IT
296560,28935093,IT,2018-10-21 13:00:00+00:00,Bologna,Torino,Bologna v Torino,IT
297787,28950603,IT,2018-10-21 13:00:00+00:00,Bologna,Torino,Bologna v Torino,IT
296555,28935083,IT,2018-10-21 13:00:00+00:00,Chievo,Atalanta,Chievo v Atalanta,IT
297788,28950604,IT,2018-10-21 13:00:00+00:00,Chievo,Atalanta,Chievo v Atalanta,IT
296556,28935084,IT,2018-10-21 13:00:00+00:00,Parma,Lazio,Parma v Lazio,IT
297786,28950601,IT,2018-10-21 13:00:00+00:00,Parma,Lazio,Parma v Lazio,IT
296557,28935085,IT,2018-10-21 16:00:00+00:00,Fiorentina,Cagliari,Fiorentina v Cagliari,IT
297790,28950612,IT,2018-10-21 16:00:00+00:00,Fiorentina,Cagliari,Fiorentina v Cagliari,IT
296558,28935086,IT,2018-10-21 18:30:00+00:00,Inter,AC Milan,Inter v AC Milan,IT
297998,28950600,IT,2018-10-21 18:30:00+00:00,Inter,AC Milan,Inter v AC Milan,IT
296568,28936824,IT,2018-10-27 13:00:00+00:00,Atalanta,Parma,Atalanta v Parma,IT
298576,28950840,IT,2018-10-27 13:00:00+00:00,Atalanta,Parma,Atalanta v Parma,IT
296570,28947883,IT,2018-10-28 11:30:00+00:00,Sassuolo,Bologna,Sassuolo v Bologna,IT
298582,28950854,IT,2018-10-28 11:30:00+00:00,Sassuolo,Bologna,Sassuolo v Bologna,IT
296571,28947884,IT,2018-10-28 14:00:00+00:00,Cagliari,Chievo,Cagliari v Chievo,IT
298580,28950849,IT,2018-10-28 14:00:00+00:00,Cagliari,Chievo,Cagliari v Chievo,IT
296573,28947887,IT,2018-10-28 14:00:00+00:00,Genoa,Udinese,Genoa v Udinese,IT
298579,28950846,IT,2018-10-28 14:00:00+00:00,Genoa,Udinese,Genoa v Udinese,IT
296572,28947885,IT,2018-10-28 14:00:00+00:00,Spal,Frosinone,SPAL v Frosinone,IT
298581,28950852,IT,2018-10-28 14:00:00+00:00,Spal,Frosinone,SPAL v Frosinone,IT
296574,28947888,IT,2018-10-28 17:00:00+00:00,AC Milan,Sampdoria,AC Milan v Sampdoria,IT
298578,28950844,IT,2018-10-28 17:00:00+00:00,AC Milan,Sampdoria,AC Milan v Sampdoria,IT
296575,28947890,IT,2018-10-28 19:30:00+00:00,Napoli,Roma,Napoli v Roma,IT
298577,28950843,IT,2018-10-28 19:30:00+00:00,Napoli,Roma,Napoli v Roma,IT
296576,28947892,IT,2018-10-29 19:30:00+00:00,Lazio,Inter,Lazio v Inter,IT
298826,28950855,IT,2018-10-29 19:30:00+00:00,Lazio,Inter,Lazio v Inter,IT
6416,28950704,IT,2018-10-31 19:30:00+00:00,AC Milan,Genoa,AC Milan v Genoa,IT
296595,28949925,IT,2018-10-31 19:30:00+00:00,AC Milan,Genoa,AC Milan v Genoa,IT
179883,27741676,IT,2016-04-02 13:00:00+00:00,Cagliari,Spezia,Cagliari v Spezia,IT
206249,27736708,IT,2016-04-02 13:00:00+00:00,Cagliari,Spezia,Cagliari v Spezia,IT
179873,27741671,IT,2016-04-02 13:00:00+00:00,Latina,Avellino,Latina v Avellino,IT
206250,27736710,IT,2016-04-02 13:00:00+00:00,Latina,Avellino,Latina v Avellino,IT
179881,27741675,IT,2016-04-02 13:00:00+00:00,Pescara,Como,Pescara v Como,IT
206251,27736713,IT,2016-04-02 13:00:00+00:00,Pescara,Como,Pescara v Como,IT
179869,27741669,IT,2016-04-02 13:00:00+00:00,Pro Vercelli,Modena,Pro Vercelli v Modena,IT
206252,27736714,IT,2016-04-02 13:00:00+00:00,Pro Vercelli,Modena,Pro Vercelli v Modena,IT
179877,27741673,IT,2016-04-02 13:00:00+00:00,Trapani,Brescia,Trapani v Brescia,IT
206253,27736716,IT,2016-04-02 13:00:00+00:00,Trapani,Brescia,Trapani v Brescia,IT
179875,27741672,IT,2016-04-02 13:00:00+00:00,Vicenza,Livorno,Vicenza v Livorno,IT
206254,27736717,IT,2016-04-02 13:00:00+00:00,Vicenza,Livorno,Vicenza v Livorno,IT
181865,27741677,IT,2016-04-03 15:30:00+00:00,Novara,Salernitana,Novara v Salernitana,IT
206255,27737191,IT,2016-04-03 15:30:00+00:00,Novara,Salernitana,Novara v Salernitana,IT
235425,28355919,PT,2017-08-28 19:00:00+00:00,Portimonense,Maritimo,Portimonense v Maritimo,PT
236641,28352253,PT,2017-08-28 19:00:00+00:00,Portimonense,Maritimo,Portimonense v Maritimo,PT
16690,29124376,PT,2019-02-15 20:30:00+00:00,Rio Ave,Santa Clara,Rio Ave v Santa Clara,PT
16856,29112776,PT,2019-02-15 20:30:00+00:00,Rio Ave,Santa Clara,Rio Ave v Santa Clara,PT
16623,29124642,PT,2019-02-16 15:30:00+00:00,CD Nacional Funchal,Feirense,CD Nacional Funchal v Feirense,PT
16982,29112779,PT,2019-02-16 15:30:00+00:00,Nacional,Feirense,Nacional v Feirense,PT
16615,29124379,PT,2019-02-16 18:00:00+00:00,Guimaraes,Portimonense,Guimaraes v Portimonense,PT
16983,29112780,PT,2019-02-16 18:00:00+00:00,Guimaraes,Portimonense,Guimaraes v Portimonense,PT
16614,29124378,PT,2019-02-16 20:30:00+00:00,Porto,Setubal,Porto v Setubal,PT
16984,29112781,PT,2019-02-16 20:30:00+00:00,Porto,Setubal,Porto v Setubal,PT
187578,27853333,GB,2016-08-07 11:15:00+00:00,St Johnstone,Aberdeen,St Johnstone v Aberdeen,GB
187579,27853333,GB,2016-08-07 11:15:00+00:00,St Johnstone,Aberdeen,St Johnstone v Aberdeen,GB
237435,28296903,GB,2017-08-06 14:00:00+00:00,Aberdeen,Hamilton,Aberdeen v Hamilton,GB
250794,28325198,GB,2017-08-06 14:00:00+00:00,Aberdeen,Hamilton,Aberdeen v Hamilton,GB
245800,28062484,ES,2017-01-15 15:15:00+00:00,Celta Vigo,Alaves,Celta Vigo v Alaves,ES
249034,28068811,ES,2017-01-15 15:15:00+00:00,Celta Vigo,Alaves,Celta Vigo v Alaves,ES
245802,28062730,ES,2017-01-15 17:30:00+00:00,Sporting Gijon,Eibar,Sporting Gijon v Eibar,ES
249032,28068810,ES,2017-01-15 17:30:00+00:00,Sporting Gijon,Eibar,Sporting Gijon v Eibar,ES
234233,28341425,ES,2017-08-19 18:15:00+00:00,Girona,Atletico Madrid,Girona v Atletico Madrid,ES
234599,28316091,ES,2017-08-19 18:15:00+00:00,Girona,Atletico Madrid,Girona v Atletico Madrid,ES
294679,28718842,TR,2018-05-14 17:00:00+00:00,Kayserispor,Akhisar Belediye,Kayserispor v Akhisar Belediye,TR
294827,28722121,TR,2018-05-14 17:00:00+00:00,Kayserispor,Akhisar Bld Spor,Kayserispor v Akhisar Bld Spor,TR
16585,29111437,TR,2019-02-11 17:00:00+00:00,Sivasspor,Akhisar Belediye,Sivasspor v Akhisar Belediye,TR
16590,29113344,TR,2019-02-11 17:00:00+00:00,Sivasspor,Akhisar Belediye,Sivasspor v Akhisar Belediye,TR
16584,29111436,TR,2019-02-11 17:00:00+00:00,Ankaragucu,Kasimpasa,Ankaragucu v Kasimpasa,TR
16589,29113338,TR,2019-02-11 17:00:00+00:00,Ankaragucu,Kasimpasa,Ankaragucu v Kasimpasa,TR
18818,29154787,US,2019-03-02 23:00:00+00:00,Vancouver Whitecaps,Minnesota Utd,Vancouver Whitecaps v Minnesota Utd,US
27262,29135734,US,2019-03-02 23:00:00+00:00,Vancouver Whitecaps,Minnesota Utd,Vancouver Whitecaps v Minnesota Utd,US
10609,29402906,US,2019-08-12 02:00:00+00:00,Los Angeles FC,New York Red Bulls,Los Angeles FC v New York Red Bulls,US
10651,29402904,US,2019-08-12 02:00:00+00:00,Los Angeles FC,New York Red Bulls,Los Angeles FC v New York Red Bulls,US

By inspecting team names, we conclude that even though in some cases there are differences in team names, the names are indeed correct and the plurality of event ids for these matches is not caused by an ambiguity in team names.  
There are also very few cases of more than one name variation for the same `event id` (e.g. `27853333`).  
Let us manually inspect the content of the full Betfair data files for a sample of these matches.

In [543]:
EVENT_ID_INDEX = -2
files_more_than_one_event_id = [file for file in matching_files if file.split('\\')[EVENT_ID_INDEX] in more_than_one_event_id['event_id'].values]

In [544]:
EVENT_ID_INDEX = -2
def get_filenames_for_event_id(event_id, filenames):
    return [file for file in filenames if file.split('\\')[EVENT_ID_INDEX] == event_id]

In [545]:
# display some filenames
for event_id in more_than_one_event_id['event_id'].iloc[:6]:
    print(get_filenames_for_event_id(event_id, files_more_than_one_event_id))

['..\\data\\raw\\betfair\\xds_nfs\\hdfs_supreme\\BASIC\\2018\\Oct\\25\\28970987\\1.150185260.bz2']
['..\\data\\raw\\betfair\\xds_nfs\\hdfs_supreme\\BASIC\\2018\\Oct\\27\\28962339\\1.149749652.bz2']
['..\\data\\raw\\betfair\\xds_nfs\\hdfs_supreme\\BASIC\\2018\\Oct\\25\\28972910\\1.150186213.bz2']
['..\\data\\raw\\betfair\\xds_nfs\\hdfs_supreme\\BASIC\\2018\\Oct\\27\\28962340\\1.149749768.bz2']
['..\\data\\raw\\betfair\\xds_nfs\\hdfs_supreme\\BASIC\\2018\\Oct\\25\\28972909\\1.150186347.bz2']
['..\\data\\raw\\betfair\\xds_nfs\\hdfs_supreme\\BASIC\\2018\\Oct\\27\\28962342\\1.149749894.bz2']

By manually inspecting the content of the full Betfair data files for a sample of matches, we observe that for one of the `event id`s, the data file contains the relevant data, and the data file of the second event id is very limited, without prices, as if the market was set and then cancelled.  
As our objective with Betfair data is to get `in-play` prices, we check **all** data files for an active `in-play` market.

In [546]:
def check_in_play(bf_data_list):
    """
    Take a list of dictionaries from a Betfair data file and check if the market turns in-play.
    
    Parameter:
    bf_data_list(list): list of dictionaries from a Betfair data file.
    
    Return: Boolean (True if the market turns in-play).
    """
    in_play = False
    for record in bf_data_list:
        if record['mc']:
            for subrecord in record['mc']:
                if 'marketDefinition' in subrecord:
                    if subrecord['marketDefinition']['inPlay'] is True:
                        in_play = True
    return in_play

In [547]:
def get_event_ids_in_play(event_ids, files):
    """
    Take a list of lists of event ids (each list corresponds to a match),
    and return the event ids of matches with active in-play markets.
    
    Parameters:
    event_ids (list of lists): such as [['27433105'], ['27433103'], ['27433106', '27433114'], [], ...]
    files (list): list of filenames, such as ['xds_nfs\\hdfs_supreme\\BASIC\\2018\\Oct\\25\\28970987\\1.150185260.bz2', ...]
    
    Returns:
    event_ids_in_play (list of lists): subset of `event_ids` with only matches with active in-play markets.
    errors_event_ids_in_play (dic): eventual file reading errors.
    """
    event_ids_in_play = []
    errors_event_ids_in_play = {}
    for i, current_event_ids in tqdm(enumerate(event_ids)):
        current_event_ids_in_play = []
        for event_id in current_event_ids:
            # get filenames. Can be more than one per event id.
            files_of_event_id = get_filenames_for_event_id(event_id, files)
            # if in_play in any of files, event_id is relevant.
            for file in files_of_event_id:
                try:
                    bf_data_list = bz2_to_dict_list(file)
                    in_play = check_in_play(bf_data_list)
                    if (in_play and (event_id not in current_event_ids_in_play)):
                        current_event_ids_in_play.append(event_id)
                except Exception as e:
                    errors_event_ids_in_play[file] = e
                    bf_data_list = []
        event_ids_in_play.append(current_event_ids_in_play)
    return event_ids_in_play, errors_event_ids_in_play

In [548]:
event_ids_in_play, errors_event_ids_in_play = get_event_ids_in_play(event_ids, matching_files)

36086it [3:59:14,  2.51it/s]

In [569]:
len(errors_event_ids_in_play)

11

There is a very small number of files with invalid format issues or corrupted.  
Let us check the number of matches with `in-play` market data.

In [549]:
event_ids_in_play_len = [len(elt) for elt in event_ids_in_play]

In [550]:
pd.Series(event_ids_in_play_len).value_counts()

1    31794
0     4292
dtype: int64

In [581]:
pd.Series(event_ids_in_play_len).value_counts().loc[1] / len(event_ids_in_play_len)

0.8810619076650225

As expected, each match has at most one compatible `event id`.  
88% of matches have `in-play` market data.  
Let us flatten the `event_ids_in_play` list of lists and add an `event_id` column to the `footy` DataFrame.

In [551]:
event_ids_in_play_flat = []
for elt in event_ids_in_play:
    if len(elt) == 0:
        event_ids_in_play_flat.append(np.nan)
    elif len(elt) == 1:
        event_ids_in_play_flat.append(elt[0])

In [552]:
footy['event_id'] = event_ids_in_play_flat

In [553]:
footy

,timestamp,date_GMT,status,home_team_name,away_team_name,home_team_goal_count,away_team_goal_count,home_team_goal_timings,away_team_goal_timings,country,country_code,event_id
0,1430589600,2015-05-02 18:00:00,complete,Olimpo,Estudiantes,0,0,NaN,NaN,argentina,AR,27433105
1,1430597700,2015-05-02 20:15:00,complete,Gimnasia La Plata,Newell's Old Boys,0,0,NaN,NaN,argentina,AR,27433103
2,1430601000,2015-05-02 21:10:00,complete,San Lorenzo,Vélez Sarsfield,1,0,83,NaN,argentina,AR,27433106
3,1430605800,2015-05-02 22:30:00,complete,Argentinos Juniors,Aldosivi,0,1,NaN,45'1,argentina,AR,NaN
4,1430608500,2015-05-02 23:15:00,complete,Racing Club,Lanús,2,0,"72,90",NaN,argentina,AR,27433114
...,...,...,...,...,...,...,...,...,...,...,...,...
36081,1583632800,2020-03-08 02:00:00,complete,Colorado Rapids,Orlando City,2,1,"64,90",82,usa,US,29700007
36082,1583636400,2020-03-08 03:00:00,complete,LA Galaxy,Vancouver Whitecaps,0,1,NaN,74,usa,US,29700009
36083,1583636400,2020-03-08 03:00:00,complete,Seattle Sounders,Columbus Crew,1,1,79,33,usa,US,29700008
36084,1583708400,2020-03-08 23:00:00,complete,Portland Timbers,Nashville SC,1,0,12,NaN,usa,US,29713521
36085,1583721000,2020-03-09 02:30:00,complete,Los Angeles FC,Philadelphia Union,3,3,"38,49,71","29,48,69",usa,US,29700023

As a sanity check, verify that the `event id` per match is unique.

In [586]:
footy['event_id'].dropna().duplicated().any()

False

Export

In [554]:
FOOTY_EVENT_IDS_PATH = '../data/interim/footy_event_ids.csv'
footy.to_csv(FOOTY_EVENT_IDS_PATH, index=False)

## check in-play market data availability per team

Get the `recall` of each team name, in the sense of: (number of relevant matches in footy data set) / (number of matches with in-play market data).  
Outliers per country should be checked for former names and aliases.  
The data below already reflects the result of this iterative process and the last manual checking version.

In [555]:
footy_recall = pd.concat([footy[['country_code', 'home_team_name', 'event_id']].rename(columns={'home_team_name': 'team_name'}),
                          footy[['country_code', 'away_team_name', 'event_id']].rename(columns={'away_team_name': 'team_name'})]).reset_index()

In [556]:
footy_recall['recall'] = footy_recall['event_id'].notna().astype(int)

Group by country and team name.

In [560]:
footy_recall_grouped = footy_recall.groupby(['country_code','team_name']).agg({'recall': ['mean', 'sum', 'count']})

Get totals per country.

In [561]:
footy_recall_grouped_countries = footy_recall.groupby(['country_code']).agg({'recall': ['mean', 'sum', 'count']})
new_cols = list(zip(footy_recall_grouped_countries.index.get_level_values(0), 
                    ['total_country'] * len(footy_recall_grouped_countries.index)))
footy_recall_grouped_countries.index = pd.MultiIndex.from_tuples(new_cols)

In [562]:
footy_recall_grouped_countries_totals = pd.concat([footy_recall_grouped, footy_recall_grouped_countries]).sort_index()

Flatten column names, so we can use `style.format` easily.

In [563]:
footy_recall_grouped_countries_totals.columns = [' '.join(col).strip() for col in footy_recall_grouped_countries_totals.columns.values]

Set `pandas` to display all rows, so we can inspect all team names.

In [558]:
pd.set_option('display.max_rows', None)

In [564]:
footy_recall_grouped_countries_totals.style.format(precision=2).background_gradient(subset='recall mean')

Team names with low-ish `in-play data-wise recalls` were checked.  
In some cases, former names and aliases were found.  
The remaining team names with low-ish `in-play data-wise recalls` are from less traditional leagues and/or have less matches.

In [590]:
RECALL_EXAMPLE_THRESHOLD = .65
footy_recall_grouped_countries_totals[
    footy_recall_grouped_countries_totals['recall mean'] < RECALL_EXAMPLE_THRESHOLD
].style.format(precision=2).background_gradient(subset='recall mean')

The team names may be considered validated and the relevant `event id`s have been fetched.