In [1]:
import pandas as pd
import numpy as np

In [2]:
FIRST_ROUND_MANUAL_CHECK_PATH = '../data/first-round/first_round_team_names_manual_match.csv'
fr_manual = pd.read_csv(FIRST_ROUND_MANUAL_CHECK_PATH)

In [3]:
fr_manual

,row_type,Column1,team_name,country,country_iso,bf_team1,bf_fuzzy1,bf_team2,bf_fuzzy2,bf_team3,...,bf_team10,bf_fuzzy10,bf_team11,bf_fuzzy11,bf_team12,bf_fuzzy12,bf_team13,bf_fuzzy13,manual_insertion1stround,manual_insertion2ndround
0,bf_teamnames,22,Aldosivi,Argentina,AR,Aldosivi,100,CA Aldosivi Reserves,90,LDU,...,CA Deportivo,50,Palestino,47,Deportivo Riestra,45,Independiente Rivadavia,45,NaN,NaN
1,names_match,22,Aldosivi,Argentina,AR,1,100,0,90,0,...,0,50,0,47,0,45,0,45,NaN,NaN
2,bf_teamnames,11,Argentinos Juniors,Argentina,AR,Argentinos Juniors,100,Argentinos Juniors Res,95,Argentinos Juniors Reserves,...,Argentino de Quilmes,68,CA Argentinos 25 Mayo,67,Argentino Merlo,67,Boca Juniors Res,67,NaN,NaN
3,names_match,11,Argentinos Juniors,Argentina,AR,1,100,0,95,0,...,0,68,0,67,0,67,0,67,NaN,NaN
4,bf_teamnames,13,Arsenal,Argentina,AR,Arsenal FC,95,Arsenal FC (Arg),90,Arsenal de Sarandi,...,Sansinena,62,Argentina,62,Barracas Central,61,Real Pilar FC,61,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,names_match,8,Sporting KC,United States,US,1,80,0,58,0,...,0,50,0,50,0,50,1,50,NaN,NaN
1116,bf_teamnames,93,Toronto,United States,US,Toronto FC,95,Toronto FC II (USL),90,Toronto FC II,...,Sacramento Republic,51,El Farolito,51,Orlando City II,51,San Antonio Scorpions,51,NaN,NaN
1117,names_match,93,Toronto,United States,US,1,95,0,90,0,...,0,51,0,51,0,51,0,51,NaN,NaN
1118,bf_teamnames,3,Vancouver Whitecaps,United States,US,Vancouver Whitecaps,100,PSV,60,Haiti,...,TSS FC Rovers,48,Colorado Switchbacks FC,48,Lane United FC,48,North Texas SC,48,NaN,NaN
1119,names_match,3,Vancouver Whitecaps,United States,US,1,100,0,60,0,...,0,48,0,48,0,48,0,48,NaN,NaN

In [4]:
fr_manual_teams = fr_manual[fr_manual['row_type'] == 'bf_teamnames']
fr_manual_teams

,row_type,Column1,team_name,country,country_iso,bf_team1,bf_fuzzy1,bf_team2,bf_fuzzy2,bf_team3,...,bf_team10,bf_fuzzy10,bf_team11,bf_fuzzy11,bf_team12,bf_fuzzy12,bf_team13,bf_fuzzy13,manual_insertion1stround,manual_insertion2ndround
0,bf_teamnames,22,Aldosivi,Argentina,AR,Aldosivi,100,CA Aldosivi Reserves,90,LDU,...,CA Deportivo,50,Palestino,47,Deportivo Riestra,45,Independiente Rivadavia,45,NaN,NaN
2,bf_teamnames,11,Argentinos Juniors,Argentina,AR,Argentinos Juniors,100,Argentinos Juniors Res,95,Argentinos Juniors Reserves,...,Argentino de Quilmes,68,CA Argentinos 25 Mayo,67,Argentino Merlo,67,Boca Juniors Res,67,NaN,NaN
4,bf_teamnames,13,Arsenal,Argentina,AR,Arsenal FC,95,Arsenal FC (Arg),90,Arsenal de Sarandi,...,Sansinena,62,Argentina,62,Barracas Central,61,Real Pilar FC,61,NaN,NaN
6,bf_teamnames,15,Atlético Rafaela,Argentina,AR,Atletico Rafaela,97,Rafaela,90,Atl Rafaela,...,CA 9 de Julio (Rafaela),65,Atletico San Jorge,64,Club Atletico Parana,63,Atletico MG,62,NaN,NaN
8,bf_teamnames,11,Atlético Tucumán,Argentina,AR,Atletico Tucuman,93,Club Atletico Tucuman,84,Atl Tucuman,...,Club Atletico Racing de,64,San Martin-Tucuman Res,64,Club Atletico Acassuso,63,Atletico Parana,62,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,bf_teamnames,9,Seattle Sounders,United States,US,Seattle Sounders,100,Seattle Sounders 2,95,Seattle Sounders FC II,...,North Sound SeaWolves,56,Sportfreunde Lotte,56,Lane Utd,56,Atlas,54,NaN,NaN
1112,bf_teamnames,25,SJ Earthquakes,United States,US,San Jose Earthquakes,84,USA,60,Eibar,...,Tulsa Athletics,48,Seattle Sounders,47,Albuquerque Sol,46,Seacoast Utd Mariners,46,NaN,NaN
1114,bf_teamnames,8,Sporting KC,United States,US,Sporting Kansas,80,GPS Portland Phoenix,58,FCM Portland,...,Washington Crossfire,50,Corinthians FC (San An),50,Minnesota Twin Stars,50,Kansas City,50,NaN,1.0
1116,bf_teamnames,93,Toronto,United States,US,Toronto FC,95,Toronto FC II (USL),90,Toronto FC II,...,Sacramento Republic,51,El Farolito,51,Orlando City II,51,San Antonio Scorpions,51,NaN,NaN
1118,bf_teamnames,3,Vancouver Whitecaps,United States,US,Vancouver Whitecaps,100,PSV,60,Haiti,...,TSS FC Rovers,48,Colorado Switchbacks FC,48,Lane United FC,48,North Texas SC,48,NaN,NaN

In [5]:
fr_manual_matches = fr_manual[fr_manual['row_type'] == 'names_match']
fr_manual_matches

,row_type,Column1,team_name,country,country_iso,bf_team1,bf_fuzzy1,bf_team2,bf_fuzzy2,bf_team3,...,bf_team10,bf_fuzzy10,bf_team11,bf_fuzzy11,bf_team12,bf_fuzzy12,bf_team13,bf_fuzzy13,manual_insertion1stround,manual_insertion2ndround
1,names_match,22,Aldosivi,Argentina,AR,1,100,0,90,0,...,0,50,0,47,0,45,0,45,NaN,NaN
3,names_match,11,Argentinos Juniors,Argentina,AR,1,100,0,95,0,...,0,68,0,67,0,67,0,67,NaN,NaN
5,names_match,13,Arsenal,Argentina,AR,1,95,1,90,1,...,0,62,0,62,0,61,0,61,NaN,NaN
7,names_match,15,Atlético Rafaela,Argentina,AR,1,97,1,90,1,...,0,65,0,64,0,63,0,62,NaN,NaN
9,names_match,11,Atlético Tucumán,Argentina,AR,1,93,1,84,1,...,0,64,0,64,0,63,0,62,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,names_match,9,Seattle Sounders,United States,US,1,100,0,95,0,...,0,56,0,56,0,56,0,54,NaN,NaN
1113,names_match,25,SJ Earthquakes,United States,US,1,84,0,60,0,...,0,48,0,47,0,46,0,46,NaN,NaN
1115,names_match,8,Sporting KC,United States,US,1,80,0,58,0,...,0,50,0,50,0,50,1,50,NaN,NaN
1117,names_match,93,Toronto,United States,US,1,95,0,90,0,...,0,51,0,51,0,51,0,51,NaN,NaN
1119,names_match,3,Vancouver Whitecaps,United States,US,1,100,0,60,0,...,0,48,0,48,0,48,0,48,NaN,NaN

In [6]:
(np.array(fr_manual_teams['team_name']) == np.array(fr_manual_matches['team_name'])).all()

True

In [7]:
cols = [f'bf_team{i+1}' for i in range(13)]
cols

['bf_team1',
 'bf_team2',
 'bf_team3',
 'bf_team4',
 'bf_team5',
 'bf_team6',
 'bf_team7',
 'bf_team8',
 'bf_team9',
 'bf_team10',
 'bf_team11',
 'bf_team12',
 'bf_team13']

In [8]:
fr_manual_teams[cols]

,bf_team1,bf_team2,bf_team3,bf_team4,bf_team5,bf_team6,bf_team7,bf_team8,bf_team9,bf_team10,bf_team11,bf_team12,bf_team13
0,Aldosivi,CA Aldosivi Reserves,LDU,Club Ateneo Pablo VI,Club Arsenal de Viale,Bolivia,All Boys,Alvarado,ADIP,CA Deportivo,Palestino,Deportivo Riestra,Independiente Rivadavia
2,Argentinos Juniors,Argentinos Juniors Res,Argentinos Juniors Reserves,Junior,Argentinos Jrs,Boca Juniors,Arg Juniors,Argentinos Jr,Argentina,Argentino de Quilmes,CA Argentinos 25 Mayo,Argentino Merlo,Boca Juniors Res
4,Arsenal FC,Arsenal FC (Arg),Arsenal de Sarandi,Club Arsenal de Viale,V Arenas,CA Victoriano Arenas,Victoriano Arenas,Velez Sarsfield,CSyD Lastenia,Sansinena,Argentina,Barracas Central,Real Pilar FC
6,Atletico Rafaela,Rafaela,Atl Rafaela,Atletico Parana,Atletico Carcarana,Atletico Mitre,Atletico Barracas,Atletico PR,9 de Julio Rafaela,CA 9 de Julio (Rafaela),Atletico San Jorge,Club Atletico Parana,Atletico MG
8,Atletico Tucuman,Club Atletico Tucuman,Atl Tucuman,Atletico MG,Atletico Camioneros,Atletico Mitre,Club Atletico Atlanta,Atletico PR,Argentino Atletico Club,Club Atletico Racing de,San Martin-Tucuman Res,Club Atletico Acassuso,Atletico Parana
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,Seattle Sounders,Seattle Sounders 2,Seattle Sounders FC II,Seattle Sounders II,Seattle,OSA Seattle FC,Puget Sound Gunners,Honduras,Golden State Misioneros,North Sound SeaWolves,Sportfreunde Lotte,Lane Utd,Atlas
1112,San Jose Earthquakes,USA,Eibar,Wales,Seattle,Schalke,Pachuca,Martinique,Estudiantes,Tulsa Athletics,Seattle Sounders,Albuquerque Sol,Seacoast Utd Mariners
1114,Sporting Kansas,GPS Portland Phoenix,FCM Portland,Colorado Springs Switchbac,Phoenix Rising FC,Colorado Springs,Storm FC,Corinthians,North Carolina FC,Washington Crossfire,Corinthians FC (San An),Minnesota Twin Stars,Kansas City
1116,Toronto FC,Toronto FC II (USL),Toronto FC II,Milwaukee Torrent,Tormenta FC,Kingston Stockade FC,Tormenta 2,San Antonio FC,Orlando City,Sacramento Republic,El Farolito,Orlando City II,San Antonio Scorpions
1118,Vancouver Whitecaps,PSV,Haiti,Inter,FC Wichita,Chile,PSA Elite,Colorado Switchbacks F,FC Carolina Discoveries,TSS FC Rovers,Colorado Switchbacks FC,Lane United FC,North Texas SC

In [9]:
fr_manual_matches[cols]

,bf_team1,bf_team2,bf_team3,bf_team4,bf_team5,bf_team6,bf_team7,bf_team8,bf_team9,bf_team10,bf_team11,bf_team12,bf_team13
1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,1,1,0,0,0,0,0
5,1,1,1,0,0,0,0,0,0,0,0,0,0
7,1,1,1,0,0,0,0,0,0,0,0,0,0
9,1,1,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,1,0,0,0,1,0,0,0,0,0,0,0,0
1113,1,0,0,0,0,0,0,0,0,0,0,0,0
1115,1,0,0,0,0,0,0,0,0,0,0,0,1
1117,1,0,0,0,0,0,0,0,0,0,0,0,0
1119,1,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
np.array(fr_manual_matches[cols]).astype(int).astype(bool)

array([[ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False, False, False],
       [ True,  True,  True, ..., False, False, False],
       ...,
       [ True, False, False, ..., False, False,  True],
       [ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False, False, False]])

In [11]:
i = 0

In [12]:
np.array(fr_manual_teams[cols])[i, :]

array(['Aldosivi', 'CA Aldosivi Reserves', 'LDU', 'Club Ateneo Pablo VI',
       'Club Arsenal de Viale', 'Bolivia', 'All Boys', 'Alvarado', 'ADIP',
       'CA Deportivo', 'Palestino', 'Deportivo Riestra',
       'Independiente Rivadavia'], dtype=object)

In [13]:
np.array(fr_manual_matches[cols]).astype(int).astype(bool)[i, :]

array([ True, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [14]:
i = 2

In [15]:
list(np.array(fr_manual_teams[cols])[i, :][np.array(fr_manual_matches[cols]).astype(int).astype(bool)[i, :]])

['Arsenal FC', 'Arsenal FC (Arg)', 'Arsenal de Sarandi']

In [16]:
manual_matching = {}

for i, (country, footy_team) in enumerate(zip(fr_manual_teams['country_iso'], fr_manual_teams['team_name'])):
    # print(i, country, footy_team)
    manual_matching[(country, footy_team)] = list(np.array(fr_manual_teams[cols])[i, :][np.array(fr_manual_matches[cols]).astype(int).astype(bool)[i, :]])

In [17]:
manual_matching

{('AR', 'Aldosivi'): ['Aldosivi'],
 ('AR', 'Argentinos Juniors'): ['Argentinos Juniors',
  'Argentinos Jrs',
  'Arg Juniors',
  'Argentinos Jr'],
 ('AR', 'Arsenal'): ['Arsenal FC', 'Arsenal FC (Arg)', 'Arsenal de Sarandi'],
 ('AR', 'Atlético Rafaela'): ['Atletico Rafaela', 'Rafaela', 'Atl Rafaela'],
 ('AR', 'Atlético Tucumán'): ['Atletico Tucuman',
  'Club Atletico Tucuman',
  'Atl Tucuman'],
 ('AR', 'Banfield'): ['Banfield'],
 ('AR', 'Belgrano'): ['Belgrano'],
 ('AR', 'Boca Juniors'): ['Boca Juniors'],
 ('AR', 'Central Córdoba SdE'): ['Central Cordoba (SdE)',
  'Central Cordoba',
  'CA Central Cordoba',
  'C Cordoba'],
 ('AR', 'Chacarita Juniors'): ['Chacarita'],
 ('AR', 'Colón'): ['Colon'],
 ('AR', 'Crucero del Norte'): ['Crucero del Norte',
  'Crucero Del Norte',
  'Club Mutual Crucero del Norte',
  'Crucero del N',
  'Crucero del N.',
  'Club Mutual Crucero del Nor',
  'CMC del Norte',
  'Club Mutual Crucero del',
  'Club Mutual Crucero del '],
 ('AR', 'Defensa y Justicia'): ['Defensa y Justicia',
  'Defensa Y Justicia',
  'Defensa Justicia',
  'Def y Justicia'],
 ('AR', 'Estudiantes'): ['Estudiantes'],
 ('AR', 'Gimnasia La Plata'): ['Gimnasia La Plata',
  'Gimnasia',
  'Gimnasia LP',
  'Gim La Plata'],
 ('AR', 'Godoy Cruz'): ['Godoy Cruz'],
 ('AR', 'Huracán'): ['Huracan'],
 ('AR', 'Independiente'): ['Independiente', 'CA Independiente'],
 ('AR', 'Lanús'): ['Lanus'],
 ('AR', "Newell's Old Boys"): ['Newells'],
 ('AR', 'Nueva Chicago'): ['Nueva Chicago'],
 ('AR', 'Olimpo'): ['Olimpo'],
 ('AR', 'Patronato'): ['Patronato'],
 ('AR', 'Quilmes'): ['Quilmes'],
 ('AR', 'Racing Club'): ['Racing Club'],
 ('AR', 'River Plate'): ['River Plate'],
 ('AR', 'Rosario Central'): ['Rosario Central', 'Rosario Centr'],
 ('AR', 'San Lorenzo'): ['San Lorenzo', 'CA San Lorenzo'],
 ('AR', 'San Martín San Juan'): ['San Martin San Juan',
  'San Martin de San Juan',
  'San Martin De San Juan'],
 ('AR', 'San Martín Tucumán'): ['San Martin de Tucuman',
  'San Martin',
  'San Martin de Tuc'],
 ('AR', 'Sarmiento'): ['Sarmiento', 'CA Sarmiento', 'Sarmiento de Junin'],
 ('AR', 'Talleres Córdoba'): ['Talleres',
  'Talleres de Cordoba ',
  'Club Atletico Talleres'],
 ('AR', 'Temperley'): ['CA Temperley'],
 ('AR', 'Tigre'): ['Tigre'],
 ('AR', 'Unión Santa Fe'): ['Union Santa Fe', 'Santa Fe'],
 ('AR', 'Vélez Sarsfield'): ['Velez Sarsfield', 'Velez'],
 ('AU', 'Adelaide United'): ['Adelaide United', 'Adelaide'],
 ('AU', 'Brisbane Roar'): ['Brisbane Roar', 'Brisbane'],
 ('AU', 'Central Coast Mariners'): ['Central Coast Mariners', 'Central Coast'],
 ('AU', 'Melbourne City FC'): ['Melbourne City'],
 ('AU', 'Melbourne Victory FC'): ['Melbourne Victory'],
 ('AU', 'Newcastle Jets FC'): ['Newcastle Jets'],
 ('AU', 'Perth Glory FC'): ['Perth Glory', 'Perth'],
 ('AU', 'Sydney FC'): ['Sydney FC', 'Sydney'],
 ('AU', 'Wellington Phoenix'): ['Wellington Phoenix',
  'Wellington Poenix',
  'Wellington'],
 ('AU', 'Western Sydney Wanderers'): ['Western Sydney Wanderers',
  'Western Sydney'],
 ('AU', 'Western United'): ['Western United'],
 ('BR', 'ABC'): ['ABC', 'ABC RN', 'Abc RN'],
 ('BR', 'América Mineiro'): ['America MG', 'America Futebol Clube'],
 ('BR', 'Atlético GO'): ['Atletico Go', 'Atletico GO'],
 ('BR', 'Atlético Mineiro'): ['Atletico MG'],
 ('BR', 'Atlético PR'): ['Atletico PR', 'Atletico Paranaense'],
 ('BR', 'Avaí'): ['Avai'],
 ('BR', 'Bahia'): ['Bahia', 'Bahia Salvador'],
 ('BR', 'Boa'): ['Boa', 'Boa EC MG'],
 ('BR', 'Botafogo'): ['Botafogo', 'Botafogo RJ'],
 ('BR', 'Botafogo SP'): ['Botafogo SP'],
 ('BR', 'Bragantino'): ['Bragantino', 'Bragantino SP'],
 ('BR', 'Brasil de Pelotas'): ['Brasil de Pelotas'],
 ('BR', 'Ceará'): ['Ceara SC Fortaleza', 'Ceara'],
 ('BR', 'Chapecoense'): ['Chapecoense'],
 ('BR', 'Corinthians'): ['Corinthians', 'Corinthians SP'],
 ('BR', 'Coritiba'): ['Coritiba'],
 ('BR', 'CRB'): ['CRB', 'CRB AL'],
 ('BR', 'Criciúma'): ['Criciuma'],
 ('BR', 'Cruzeiro'): ['Cruzeiro', 'Cruzeiro MG', 'EC Cruzeiro'],
 ('BR', 'CSA'): ['CSA', 'CSA AL', 'CSA AI'],
 ('BR', 'Cuiabá'): ['Cuiaba', 'Cuiaba Esporte Clube', 'Cuiaba MT'],
 ('BR', 'Figueirense'): ['Figueirense'],
 ('BR', 'Flamengo'): ['Flamengo'],
 ('BR', 'Fluminense'): ['Fluminense'],
 ('BR', 'Fortaleza'): ['Fortaleza', 'Fortaleza EC'],
 ('BR', 'Goiás'): ['Goias'],
 ('BR', 'Grêmio'): ['Gremio'],
 ('BR', 'Guarani'): ['Guarani', 'Guarani SP'],
 ('BR', 'Internacional'): ['Internacional', 'Internacional SC'],
 ('BR', 'Joinville'): ['Joinville'],
 ('BR', 'Juventude'): ['Juventude'],
 ('BR', 'Londrina'): ['Londrina'],
 ('BR', 'Luverdense'): ['Luverdense'],
 ('BR', 'Macaé'): ['Macae Esporte', 'Macae Esporte FC', 'Macae'],
 ('BR', 'Mogi Mirim'): ['Mogi Mirim'],
 ('BR', 'Náutico'): ['Nautico', 'Nautico PE', 'Nautico Capibaribe'],
 ('BR', 'Oeste'): ['Oeste', 'Oeste FC'],
 ('BR', 'Operário PR'): ['Operario PR'],
 ('BR', 'Palmeiras'): ['Palmeiras', 'SE Palmeiras'],
 ('BR', 'Paraná'): ['Parana', 'Parana Clube FC'],
 ('BR', 'Paysandu'): ['Paysandu'],
 ('BR', 'Ponte Preta'): ['Ponte Preta'],
 ('BR', 'Sampaio Corrêa'): ['Sampaio Correa', 'Sampaio Correa FC'],
 ('BR', 'Santa Cruz'): ['Santa Cruz', 'Santa Cruz PE'],
 ('BR', 'Santos'): ['Santos'],
 ('BR', 'São Bento'): ['Sao Bento'],
 ('BR', 'São Paulo'): ['Sao Paulo'],
 ('BR', 'Sport Recife'): ['Sport Recife'],
 ('BR', 'Vasco da Gama'): ['Vasco da Gama', 'Vasco Da Gama'],
 ('BR', 'Vila Nova'): ['Vila Nova', 'Vila Nova GO'],
 ('BR', 'Vitória'): ['Vitoria', 'Vitoria BA'],
 ('CN', 'Beijing Guoan'): ['Beijing Guoan'],
 ('CN', 'Beijing Renhe'): ['Beijing Renhe', 'Guizhou Renhe'],
 ('CN', 'Changchun Yatai'): ['Changchun Yatai'],
 ('CN', 'Chongqing Dangdai Lifan'): ['Chongqing Lifan'],
 ('CN', 'Dalian Yifang'): ['Dalian Yifang'],
 ('CN', 'Guangzhou Evergrande'): ['Guangzhou FC'],
 ('CN', 'Guangzhou R&F'): ['Guangzhou R&F'],
 ('CN', 'Guizhou Zhicheng'): ['Guizhou HF Zhicheng'],
 ('CN', 'Hangzhou'): ['Hangzhou Greentown'],
 ('CN', 'Hebei CFFC'): ['Hebei CFFC'],
 ('CN', 'Henan Jianye'): ['Henan'],
 ('CN', 'Jiangsu Suning'): ['Jiangsu Suning'],
 ('CN', 'Liaoning Kaixin'): ['Liaoning Whowin'],
 ('CN', 'Shandong Luneng'): ['Shandong Luneng'],
 ('CN', 'Shanghai Shenhua'): ['Shanghai Shenhua', 'Shanghai Shenhua FC'],
 ('CN', 'Shanghai Shenxin'): ['Shanghai Shenxin'],
 ('CN', 'Shanghai SIPG'): ['Shanghai East Asia'],
 ('CN', 'Shenzhen'): ['Shenzhen', 'Shenzhen FC'],
 ('CN', 'Shijiazhuang Ever Bright'): ['Shijiazhuan Ever Bright',
  'Shijiazhuang Yongchang'],
 ('CN', 'Tianjin Quanjian'): ['Tianjin Quanjian'],
 ('CN', 'Tianjin Teda'): ['Tianjin Teda'],
 ('CN', 'Wuhan Zall'): ['Wuhan Zall'],
 ('CN', 'Yanbian Funde'): ['Yanbian Funde', 'Yanbian Fude'],
 ('DE', '1860 München'): ['1860 Munchen', '1860 Munich', 'TSV 1860 Munchen'],
 ('DE', 'Arminia Bielefeld'): ['Arminia Bielefeld'],
 ('DE', 'Augsburg'): ['Augsburg'],
 ('DE', 'Bayer Leverkusen'): ['Leverkusen'],
 ('DE', 'Bayern München'): ['Bayern Munich', 'B Munich'],
 ('DE', 'Bochum'): ['Bochum'],
 ('DE', 'Borussia Dortmund'): ['Borussia Dortmund', 'Dortmund'],
 ('DE', "Borussia M'gladbach"): ['Mgladbach'],
 ('DE', 'Darmstadt 98'): ['SV Darmstadt'],
 ('DE', 'Dynamo Dresden'): ['Dynamo Dresden'],
 ('DE', 'Eintracht Braunschweig'): ['Eintracht Braunschweig', 'Braunschweig'],
 ('DE', 'Eintracht Frankfurt'): ['Eintracht Frankfurt'],
 ('DE', 'Erzgebirge Aue'): ['Erzgebirge'],
 ('DE', 'Fortuna Düsseldorf'): ['Fortuna Dusseldorf'],
 ('DE', 'Freiburg'): ['Freiburg'],
 ('DE', 'FSV Frankfurt'): ['FSV Frankfurt'],
 ('DE', 'Greuther Fürth'): ['Greuther Furth', 'G Furth'],
 ('DE', 'Hamburger SV'): ['Hamburger SV', 'Hamburg'],
 ('DE', 'Hannover 96'): ['Hannover'],
 ('DE', 'Heidenheim'): ['FC Heidenheim'],
 ('DE', 'Hertha BSC'): ['Hertha Berlin'],
 ('DE', 'Hoffenheim'): ['Hoffenheim'],
 ('DE', 'Holstein Kiel'): ['Holstein Kiel'],
 ('DE', 'Ingolstadt'): ['Ingolstadt'],
 ('DE', 'Jahn Regensburg'): ['Jahn Regensburg'],
 ('DE', 'Kaiserslautern'): ['Kaiserslautern'],
 ('DE', 'Karlsruher SC'): ['Karlsruhe'],
 ('DE', 'Köln'): ['FC Koln'],
 ('DE', 'Magdeburg'): ['FC Magdeburg'],
 ('DE', 'Mainz 05'): ['Mainz', 'FSV Mainz 05'],
 ('DE', 'MSV Duisburg'): ['FSV Duisburg', 'Duisburg'],
 ('DE', 'Nürnberg'): ['Nurnberg'],
 ('DE', 'Osnabrück'): ['Osnabruck', 'VfL Osnabruck'],
 ('DE', 'Paderborn'): ['Paderborn'],
 ('DE', 'RB Leipzig'): ['RB Leipzig'],
 ('DE', 'Sandhausen'): ['SV Sandhausen'],
 ('DE', 'Schalke 04'): ['Schalke 04', 'Schalke'],
 ('DE', 'St. Pauli'): ['St Pauli'],
 ('DE', 'Stuttgart'): ['Stuttgart'],
 ('DE', 'Union Berlin'): ['Union Berlin'],
 ('DE', 'Wehen Wiesbaden'): ['Wehen Wiesbaden'],
 ('DE', 'Werder Bremen'): ['Werder Bremen', 'W Bremen'],
 ('DE', 'Wolfsburg'): ['Wolfsburg'],
 ('DE', 'Würzburger Kickers'): ['Wurzburger Kickers', 'FC Wurzburger Kickers'],
 ('ES', 'AD Alcorcón'): ['Alcorcon'],
 ('ES', 'Albacete Balompié'): ['Albacete'],
 ('ES', 'Almería'): ['Almeria'],
 ('ES', 'Athletic Club Bilbao'): ['Athletic Bilbao', 'Ath Bilbao'],
 ('ES', 'Athletic Club II'): ['Athletic Bilbao B', 'Ath Bilbao B'],
 ('ES', 'Atlético Madrid'): ['Atletico Madrid', 'Atl Madrid'],
 ('ES', 'Barcelona II'): ['Barcelona B'],
 ('ES', 'CA Osasuna'): ['Osasuna'],
 ('ES', 'Cádiz'): ['Cadiz'],
 ('ES', 'CD Lugo'): ['Lugo'],
 ('ES', 'CD Numancia'): ['Numancia'],
 ('ES', 'CD Tenerife'): ['Tenerife'],
 ('ES', 'Celta de Vigo'): ['Celta Vigo'],
 ('ES', 'CF Fuenlabrada'): ['Fuenlabrada'],
 ('ES', 'CF Reus Deportiu'): ['Reus Deportiu'],
 ('ES', 'Córdoba'): ['Cordoba'],
 ('ES', 'Cultural y Deportiva Leonesa'): ['Leonesa'],
 ('ES', 'Deportivo Alavés'): ['Alaves'],
 ('ES', 'Deportivo La Coruña'): ['Deportivo'],
 ('ES', 'Elche CF'): ['Elche'],
 ('ES', 'Extremadura UD'): ['Extremadura UD', 'Extremadura'],
 ('ES', 'FC Barcelona'): ['Barcelona'],
 ('ES', 'Getafe CF'): ['Getafe'],
 ('ES', 'Gimnàstic de Tarragona'): ['Gimnastic Tarragona', 'Gimnastic'],
 ('ES', 'Girona FC'): ['Girona'],
 ('ES', 'Granada CF'): ['Granada'],
 ('ES', 'Leganés'): ['Leganes'],
 ('ES', 'Levante UD'): ['Levante'],
 ('ES', 'Llagostera-Costa Brava'): ['Llagostera', 'UE Llagostera'],
 ('ES', 'Lorca'): ['La Hoya Lorca', 'Lorca FC'],
 ('ES', 'Málaga CF'): ['Malaga'],
 ('ES', 'Mirandés'): ['Mirandes', 'CD Mirandes'],
 ('ES', 'Racing Santander'): ['Racing Santander'],
 ('ES', 'Rayo Majadahonda'): ['Rayo Majadahonda', 'CF Rayo Majadahonda'],
 ('ES', 'Rayo Vallecano'): ['Rayo Vallecano'],
 ('ES', 'RCD Espanyol'): ['Espanyol'],
 ('ES', 'RCD Mallorca'): ['Mallorca'],
 ('ES', 'Real Betis'): ['Real Betis', 'Betis'],
 ('ES', 'Real Madrid'): ['Real Madrid'],
 ('ES', 'Real Oviedo'): ['Oviedo'],
 ('ES', 'Real Sociedad'): ['Real Sociedad', 'Sociedad'],
 ('ES', 'Real Valladolid'): ['Valladolid'],
 ('ES', 'Real Zaragoza'): ['Zaragoza'],
 ('ES', 'SD Eibar'): ['Eibar'],
 ('ES', 'SD Huesca'): ['Huesca'],
 ('ES', 'SD Ponferradina'): ['Ponferradina'],
 ('ES', 'Sevilla FC'): ['Sevilla'],
 ('ES', 'Sevilla II'): ['Sevilla B'],
 ('ES', 'Sporting Gijón'): ['Sporting Gijon'],
 ('ES', 'UCAM Murcia CF'): ['UCAM Murcia', 'Murcia'],
 ('ES', 'UD Las Palmas'): ['UD Las Palmas', 'Las Palmas'],
 ('ES', 'Valencia CF'): ['Valencia'],
 ('ES', 'Villarreal'): ['Villarreal'],
 ('FR', 'Ajaccio'): ['AC Ajaccio'],
 ('FR', 'Amiens SC'): ['SC Amiens', 'Amiens'],
 ('FR', 'Angers SCO'): ['Angers'],
 ('FR', 'Auxerre'): ['Auxerre'],
 ('FR', 'Bastia'): ['Bastia', 'SC Bastia'],
 ('FR', 'Béziers'): ['Beziers', 'AS Beziers'],
 ('FR', 'Bordeaux'): ['Bordeaux', 'Bordeaux Stade'],
 ('FR', 'Bourg-en-Bresse'): ['Bourg-en-Bresse',
  'Bourg-en-Bresse Peronnas',
  'Bourg-Peronnas'],
 ('FR', 'Brest'): ['Brest', 'ASPTT Brest'],
 ('FR', 'Caen'): ['Caen'],
 ('FR', 'Chambly'): ['Chambly FC',
  'Chambly Thelle',
  'Chambly Oise',
  'Chambly-Oise'],
 ('FR', 'Châteauroux'): ['Chateauroux'],
 ('FR', 'Clermont'): ['Clermont'],
 ('FR', 'Créteil'): ['Creteil'],
 ('FR', 'Dijon'): ['Dijon'],
 ('FR', 'Gazélec Ajaccio'): ['GFC Ajaccio', 'Ajaccio GFCO'],
 ('FR', 'Grenoble Foot 38'): ['Grenoble Foot 38', 'Grenoble'],
 ('FR', 'Guingamp'): ['Guingamp'],
 ('FR', 'Laval'): ['Laval', 'Stade Lavallois'],
 ('FR', 'Le Havre'): ['Le Havre'],
 ('FR', 'Le Mans'): ['Le Mans'],
 ('FR', 'Lens'): ['Lens'],
 ('FR', 'Lille'): ['Lille'],
 ('FR', 'Lorient'): ['Lorient'],
 ('FR', 'Metz'): ['Metz'],
 ('FR', 'Monaco'): ['Monaco'],
 ('FR', 'Montpellier'): ['Montpellier', 'Montpellier Herault SC'],
 ('FR', 'Nancy'): ['Nancy'],
 ('FR', 'Nantes'): ['Nantes'],
 ('FR', 'Nice'): ['Nice'],
 ('FR', 'Nîmes'): ['Nimes'],
 ('FR', 'Niort'): ['Niort'],
 ('FR', 'Olympique Lyonnais'): ['Lyon'],
 ('FR', 'Olympique Marseille'): ['Marseille'],
 ('FR', 'Orléans'): ['Orleans'],
 ('FR', 'Paris'): ['Paris FC'],
 ('FR', 'PSG'): ['PSG', 'Paris St-G'],
 ('FR', 'Quevilly Rouen'): ['Quevilly Rouen', 'Quevilly', 'US Quevilly'],
 ('FR', 'Red Star'): ['Red Star', 'Red Star FC'],
 ('FR', 'Reims'): ['Reims'],
 ('FR', 'Rennes'): ['Rennes'],
 ('FR', 'Rodez '): ['Rodez', 'Rodez Aveyron', 'Rodez AF'],
 ('FR', 'Saint-Étienne'): ['Saint-Etienne', 'St Etienne'],
 ('FR', 'Sochaux'): ['Sochaux'],
 ('FR', 'Strasbourg'): ['Strasbourg'],
 ('FR', 'Thonon Evian FC'): ['Evian TG'],
 ('FR', 'Toulouse'): ['Toulouse', 'Toulouse FC'],
 ('FR', 'Tours'): ['Tours'],
 ('FR', 'Troyes'): ['Troyes', 'ESTAC Troyes'],
 ('FR', 'Valenciennes'): ['Valenciennes'],
 ('GB', 'Aberdeen'): ['Aberdeen'],
 ('GB', 'AFC Bournemouth'): ['AFC Bournemouth', 'Bournemouth'],
 ('GB', 'Arsenal'): ['Arsenal'],
 ('GB', 'Aston Villa'): ['Aston Villa', 'Aston VIlla FC'],
 ('GB', 'Barnsley'): ['Barnsley'],
 ('GB', 'Birmingham City'): ['Birmingham'],
 ('GB', 'Blackburn Rovers'): ['Blackburn'],
 ('GB', 'Bolton Wanderers'): ['Bolton'],
 ('GB', 'Brentford'): ['Brentford'],
 ('GB', 'Brighton & Hove Albion'): ['Brighton'],
 ('GB', 'Bristol City'): ['Bristol City'],
 ('GB', 'Burnley'): ['Burnley'],
 ('GB', 'Burton Albion'): ['Burton Albion', 'Burton'],
 ('GB', 'Cardiff City'): ['Cardiff City', 'Cardiff'],
 ('GB', 'Celtic'): ['Celtic'],
 ('GB', 'Charlton Athletic'): ['Charlton'],
 ('GB', 'Chelsea'): ['Chelsea'],
 ('GB', 'Crystal Palace'): ['Crystal Palace', 'C Palace'],
 ('GB', 'Derby County'): ['Derby'],
 ('GB', 'Dundee'): ['Dundee'],
 ('GB', 'Dundee United'): ['Dundee Utd'],
 ('GB', 'Everton'): ['Everton'],
 ('GB', 'Fulham'): ['Fulham'],
 ('GB', 'Hamilton Academical'): ['Hamilton'],
 ('GB', 'Hearts'): ['Hearts'],
 ('GB', 'Hibernian'): ['Hibernian'],
 ('GB', 'Huddersfield Town'): ['Huddersfield Town', 'Huddersfield'],
 ('GB', 'Hull City'): ['Hull City', 'Hull'],
 ('GB', 'Inverness CT'): ['Inverness CT'],
 ('GB', 'Ipswich Town'): ['Ipswich Town', 'Ipswich'],
 ('GB', 'Kilmarnock'): ['Kilmarnock'],
 ('GB', 'Leeds United'): ['Leeds', 'Leeds Utd'],
 ('GB', 'Leicester City'): ['Leicester City', 'Leicester'],
 ('GB', 'Liverpool'): ['Liverpool'],
 ('GB', 'Livingston'): ['Livingston'],
 ('GB', 'Luton Town'): ['Luton Town', 'Luton'],
 ('GB', 'Manchester City'): ['Manchester City', 'Man City'],
 ('GB', 'Manchester United'): ['Man United', 'Man Utd'],
 ('GB', 'Middlesbrough'): ['Middlesbrough'],
 ('GB', 'Millwall'): ['Millwall', 'Millwal'],
 ('GB', 'Milton Keynes Dons'): ['Milton Keynes Dons', 'MK Dons'],
 ('GB', 'Motherwell'): ['Motherwell'],
 ('GB', 'Newcastle United'): ['Newcastle'],
 ('GB', 'Norwich City'): ['Norwich City', 'Norwich'],
 ('GB', 'Nottingham Forest'): ['Nottingham Forest', 'Nottm Forest'],
 ('GB', 'Partick Thistle'): ['Partick'],
 ('GB', 'Preston North End'): ['Preston'],
 ('GB', 'Queens Park Rangers'): ['QPR'],
 ('GB', 'Rangers'): ['Rangers'],
 ('GB', 'Reading'): ['Reading'],
 ('GB', 'Ross County'): ['Ross Co'],
 ('GB', 'Rotherham United'): ['Rotherham', 'Rotherham Utd'],
 ('GB', 'Sheffield United'): ['Sheffield', 'Sheff Utd'],
 ('GB', 'Sheffield Wednesday'): ['Sheff Wed'],
 ('GB', 'Southampton'): ['Southampton'],
 ('GB', 'St. Johnstone'): ['St Johnstone'],
 ('GB', 'St. Mirren'): ['St Mirren'],
 ('GB', 'Stoke City'): ['Stoke City', 'Stoke'],
 ('GB', 'Sunderland'): ['Sunderland'],
 ('GB', 'Swansea City'): ['Swansea'],
 ('GB', 'Tottenham Hotspur'): ['Tottenham'],
 ('GB', 'Watford'): ['Watford'],
 ('GB', 'West Bromwich Albion'): ['West Brom'],
 ('GB', 'West Ham United'): ['West Ham'],
 ('GB', 'Wigan Athletic'): ['Wigan Athletic', 'Wigan'],
 ('GB', 'Wolverhampton Wanderers'): ['Wolves'],
 ('IL', 'Ashdod'): ['FC Ashdod'],
 ('IL', 'Beitar Jerusalem'): ['Beitar Jerusalem'],
 ('IL', 'Bnei Sakhnin'): ['Bnei Sakhnin'],
 ('IL', 'Bnei Yehuda'): ['Bnei Yehuda'],
 ('IL', 'Hapoel Acre'): ['Hapoel Akko'],
 ('IL', 'Hapoel Ashkelon'): ['Hapoel Ashkelon', 'FC Hapoel Ashkelon'],
 ('IL', "Hapoel Be'er Sheva"): ['Hapoel Beer Sheva'],
 ('IL', 'Hapoel Hadera'): ['Hapoel Hadera', 'Hapoel Eran Hadera'],
 ('IL', 'Hapoel Haifa'): ['Hapoel Haifa'],
 ('IL', 'Hapoel Kfar Saba'): ['Hapoel Kfar Saba', 'Hapoel K Saba'],
 ('IL', "Hapoel Ra'anana"): ['Hapoel Raanana'],
 ('IL', 'Hapoel Tel Aviv'): ['Hapoel Tel Aviv'],
 ('IL', 'Ironi Kiryat Shmona'): ['Hapoel Kiryat Shmona'],
 ('IL', 'Maccabi Haifa'): ['Maccabi Haifa'],
 ('IL', 'Maccabi Netanya'): ['Maccabi Netanya'],
 ('IL', 'Maccabi Petah Tikva'): ['Maccabi Petach Tikva'],
 ('IL', 'Maccabi Tel Aviv'): ['Maccabi Tel Aviv'],
 ('IL', 'Sektzia Nes Tziona'): ['Sektzia Nes Tziona'],
 ('IT', 'AC Milan'): ['AC Milan'],
 ('IT', 'Ascoli'): ['Ascoli'],
 ('IT', 'Atalanta'): ['Atalanta'],
 ('IT', 'Avellino'): ['Avellino', 'Calcio Avellino SSD'],
 ('IT', 'Bari 1908'): ['Bari', 'SSD Bari'],
 ('IT', 'Benevento'): ['Benevento'],
 ('IT', 'Bologna'): ['Bologna'],
 ('IT', 'Brescia'): ['Brescia'],
 ('IT', 'Cagliari'): ['Cagliari'],
 ('IT', 'Calcio Padova'): ['Padova'],
 ('IT', 'Carpi'): ['Carpi'],
 ('IT', 'Cesena'): ['Cesena', 'RC Cesena FC'],
 ('IT', 'Chievo'): ['Chievo'],
 ('IT', 'Cittadella'): ['Cittadella'],
 ('IT', 'Como'): ['Como'],
 ('IT', 'Cosenza'): ['Cosenza'],
 ('IT', 'Cremonese'): ['Cremonese', 'US Cremonese'],
 ('IT', 'Crotone'): ['Crotone'],
 ('IT', 'Empoli'): ['Empoli'],
 ('IT', 'Fiorentina'): ['Fiorentina'],
 ('IT', 'Foggia'): ['Foggia'],
 ('IT', 'Frosinone'): ['Frosinone'],
 ('IT', 'Genoa'): ['Genoa'],
 ('IT', 'Hellas Verona'): ['Hellas Verona', 'Verona'],
 ('IT', 'Inter Milan'): ['Inter Milan', 'Inter'],
 ('IT', 'Juve Stabia'): ['Juve Stabia'],
 ('IT', 'Juventus'): ['Juventus'],
 ('IT', 'Latina'): ['Latina'],
 ('IT', 'Lazio'): ['Lazio'],
 ('IT', 'Lecce'): ['Lecce'],
 ('IT', 'Livorno'): ['Livorno'],
 ('IT', 'Modena'): ['Modena', 'Modena FC 2018 SSD'],
 ('IT', 'Napoli'): ['Napoli'],
 ('IT', 'Novara'): ['Novara'],
 ('IT', 'Palermo'): ['Palermo'],
 ('IT', 'Parma'): ['Parma'],
 ('IT', 'Perugia'): ['Perugia'],
 ('IT', 'Pescara'): ['Pescara'],
 ('IT', 'Pisa'): ['Pisa'],
 ('IT', 'Pordenone'): ['Pordenone', 'Pordenone Calcio'],
 ('IT', 'Pro Vercelli'): ['Pro Vercelli', 'Pro Vercelli 1892'],
 ('IT', 'Roma'): ['Roma'],
 ('IT', 'Salernitana'): ['Salernitana'],
 ('IT', 'Sampdoria'): ['Sampdoria'],
 ('IT', 'Sassuolo'): ['Sassuolo'],
 ('IT', 'SPAL'): ['Spal', 'SPAL'],
 ('IT', 'Spezia'): ['Spezia'],
 ('IT', 'Ternana'): ['Ternana'],
 ('IT', 'Torino'): ['Torino'],
 ('IT', 'Trapani'): ['Trapani'],
 ('IT', 'Udinese'): ['Udinese'],
 ('IT', 'Venezia'): ['Venezia'],
 ('IT', 'Vicenza'): ['Vicenza', 'LR Vicenza Virtus'],
 ('IT', 'Virtus Entella'): ['Entella'],
 ('IT', 'Virtus Lanciano'): ['Lanciano'],
 ('JP', 'Albirex Niigata'): ['Albirex Niigata', 'Niigata'],
 ('JP', 'Avispa Fukuoka'): ['Fukuoka'],
 ('JP', 'Cerezo Osaka'): ['Cerezo Osaka', 'C-Osaka'],
 ('JP', 'Consadole Sapporo'): ['Consadole Sapporo', 'Sapporo'],
 ('JP', 'Gamba Osaka'): ['Gamba Osaka', 'G-Osaka'],
 ('JP', 'Jubilo Iwata'): ['Jubilo Iwata', 'Iwata'],
 ('JP', 'Kashima Antlers'): ['Kashima Antlers', 'Kashima'],
 ('JP', 'Kashiwa Reysol'): ['Kashiwa Reysol', 'Kashiwa'],
 ('JP', 'Kawasaki Frontale'): ['Kawasaki Frontale', 'Kawasaki'],
 ('JP', 'Matsumoto Yamaga'): ['Matsumoto Yamaga Fc', 'Matsumoto'],
 ('JP', 'Montedio Yamagata'): ['Yamagata'],
 ('JP', 'Nagoya Grampus'): ['Nagoya Grampus', 'Nagoya'],
 ('JP', 'Oita Trinita'): ['Oita'],
 ('JP', 'Omiya Ardija'): ['Omiya Ardija', 'Omiya'],
 ('JP', 'Sagan Tosu'): ['Sagan Tosu', 'Tosu'],
 ('JP', 'Sanfrecce Hiroshima'): ['Hiroshima'],
 ('JP', 'Shimizu S-Pulse'): ['Shimizu S Pulse', 'Shimizu'],

Get current round df

In [18]:
FOOTY_TEAM_NAMES_SCORES_EXPLODED_PATH = '../data/interim/footy_team_names_scores_exploded.csv'
df = pd.read_csv(FOOTY_TEAM_NAMES_SCORES_EXPLODED_PATH)

In [19]:
df['manual_insertion'] = np.nan

In [20]:
df

,country_code,team_name,bf_team1,score1,bf_team2,score2,bf_team3,score3,bf_team4,score4,...,score9,bf_team10,score10,bf_team11,score11,bf_team12,score12,bf_team13,score13,manual_insertion
0,AR,Aldosivi,Aldosivi,100,Altos,62,CA Aldosivi Reserves,57,Bolivia,53,...,45,CA Florida,44,El Porvenir,42,Almagro,40,Rosario,40,NaN
1,AR,Argentinos Juniors,Argentinos Juniors,100,Argentinos Juniors Res,90,Argentinos Jrs,88,Argentinos Juniors Reserves,80,...,67,Argentino,67,Argentino MM,67,Argentino Pergamino,65,Argentino Monte Maiz,63,NaN
2,AR,Arsenal,Arsenal FC,82,Arenas,77,Argentina,62,Arsenal FC (Arg),61,...,56,CA Regional,56,CA Barracas Central,54,Ros. Central,53,Barracas Central,52,NaN
3,AR,Atlético Rafaela,Atletico Rafaela,94,Atletico Parana,71,Atletico Campana,69,Atletico Raci,69,...,65,Atletico Marquesado,63,CA 9 de Julio (Rafaela),62,Club Atletico Parana,61,Rafaela,61,NaN
4,AR,Atlético Tucumán,Atletico Tucuman,88,Club Atletico Tucuman,76,Atl Tucuman,74,Atletico Campana,62,...,59,Atletico Parana,58,Atletico Cuyaya,58,Atletico Camioneros,57,Atletico Concepcion,57,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,US,SJ Earthquakes,San Jose Earthquakes,82,San Jose Earthquakes II,76,Martinique,50,Schalke,48,...,44,Santa Cruz Breakers FC,44,Santa Cruz Breaker,44,Fort Worth Vaqueros FC,44,Real Salt Lake,43,NaN
535,US,Seattle Sounders,Seattle Sounders,100,Seattle Sounders 2,94,Seattle Sounders II,91,Seattle Sounders FC II,84,...,53,Golden State Misioneros,51,Real Monarchs SL,50,Oakland Stompers,50,Western Mass Pioneers,49,NaN
536,US,Sporting KC,Sporting Kansas,77,Sporting Orlando,67,Sporting Kansas City II,65,Khalsa Sporting Club,65,...,50,Austin FC,50,Fort Wayne FC,50,Boston FC,50,Floridians FC,50,NaN
537,US,Toronto,Toronto FC,82,Toronto FC II,70,Toronto Croatia,64,Tormenta 2,59,...,47,Cotonsport,47,Fiorentina,47,Dragon,46,El Farolito,44,NaN
538,US,Vancouver Whitecaps,Vancouver Whitecaps,100,Vancouver Whitecaps II,93,Vancouver Utd,69,Vancouver Thunderbirds,63,...,43,Seacoast United Phantoms,42,Lane United FC,42,San Jose Earthquakes,41,Southern C Seahorses,41,NaN

In [21]:
df_matches = df.copy()

In [22]:
cols

['bf_team1',
 'bf_team2',
 'bf_team3',
 'bf_team4',
 'bf_team5',
 'bf_team6',
 'bf_team7',
 'bf_team8',
 'bf_team9',
 'bf_team10',
 'bf_team11',
 'bf_team12',
 'bf_team13']

In [23]:
df_matches.loc[:, cols] = 0

In [24]:
df_matches

,country_code,team_name,bf_team1,score1,bf_team2,score2,bf_team3,score3,bf_team4,score4,...,score9,bf_team10,score10,bf_team11,score11,bf_team12,score12,bf_team13,score13,manual_insertion
0,AR,Aldosivi,0,100,0,62,0,57,0,53,...,45,0,44,0,42,0,40,0,40,NaN
1,AR,Argentinos Juniors,0,100,0,90,0,88,0,80,...,67,0,67,0,67,0,65,0,63,NaN
2,AR,Arsenal,0,82,0,77,0,62,0,61,...,56,0,56,0,54,0,53,0,52,NaN
3,AR,Atlético Rafaela,0,94,0,71,0,69,0,69,...,65,0,63,0,62,0,61,0,61,NaN
4,AR,Atlético Tucumán,0,88,0,76,0,74,0,62,...,59,0,58,0,58,0,57,0,57,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,US,SJ Earthquakes,0,82,0,76,0,50,0,48,...,44,0,44,0,44,0,44,0,43,NaN
535,US,Seattle Sounders,0,100,0,94,0,91,0,84,...,53,0,51,0,50,0,50,0,49,NaN
536,US,Sporting KC,0,77,0,67,0,65,0,65,...,50,0,50,0,50,0,50,0,50,NaN
537,US,Toronto,0,82,0,70,0,64,0,59,...,47,0,47,0,47,0,46,0,44,NaN
538,US,Vancouver Whitecaps,0,100,0,93,0,69,0,63,...,43,0,42,0,42,0,41,0,41,NaN

In [25]:
i = 0

In [26]:
list(df.iloc[i][cols].values)

['Aldosivi',
 'Altos',
 'CA Aldosivi Reserves',
 'Bolivia',
 'Alvarado',
 'All Boys',
 'Adip',
 'Adiur',
 'Arg de Rosario',
 'CA Florida',
 'El Porvenir',
 'Almagro',
 'Rosario']

In [27]:
df.iloc[i][cols].index

Index(['bf_team1', 'bf_team2', 'bf_team3', 'bf_team4', 'bf_team5', 'bf_team6',
       'bf_team7', 'bf_team8', 'bf_team9', 'bf_team10', 'bf_team11',
       'bf_team12', 'bf_team13'],
      dtype='object')

In [28]:
column = df.iloc[i][cols].index[0]
column

'bf_team1'

In [29]:
df.loc[i, 'manual_insertion']

nan

In [30]:
BF_TEAM_NAMES_PATH = '../data/interim/bf_team_names.csv'
bf_team_names = pd.read_csv(BF_TEAM_NAMES_PATH)
list(bf_team_names['team_name'])[:20]

['Lille',
 'Nimes',
 'Angers',
 'Guingamp',
 'Monaco',
 'C Palace',
 'Huddersfield',
 'Leicester',
 'Newcastle',
 'Southampton',
 'Man City',
 'Dortmund',
 'Hoffenheim',
 'Stuttgart',
 'Werder Bremen',
 'Real Madrid',
 'Getafe',
 'Valladolid',
 'Celta Vigo',
 'Spal']

In [31]:
for i, (country_code, team_name) in enumerate(zip(df_matches['country_code'], df_matches['team_name'])):
    if manual_matching[(country_code, team_name)]:
        fr_matches = manual_matching[(country_code, team_name)]  # list
        for column, bf_team in zip(df.iloc[i][cols].index, df.iloc[i][cols].values):
            if bf_team in fr_matches:
                df_matches.loc[i, column] = 1
        manual_insertion_list = []
        for fr_match in fr_matches:
            if (fr_match not in list(df.iloc[i][cols].values)) and (fr_match in list(bf_team_names['team_name'])):
                manual_insertion_list.append(fr_match)
        if len(manual_insertion_list) == 0:
            df_matches.loc[i, 'manual_insertion'] = 0
            df.loc[i, 'manual_insertion'] = np.nan
        elif len(manual_insertion_list) == 1:
            df_matches.loc[i, 'manual_insertion'] = 1
            df.loc[i, 'manual_insertion'] = manual_insertion_list[0]
        else:
            df_matches.loc[i, 'manual_insertion'] = 1
            df.loc[i, 'manual_insertion'] = str(manual_insertion_list)
df_matches['manual_insertion'] = df_matches['manual_insertion'].astype(int)

In [32]:
df

,country_code,team_name,bf_team1,score1,bf_team2,score2,bf_team3,score3,bf_team4,score4,...,score9,bf_team10,score10,bf_team11,score11,bf_team12,score12,bf_team13,score13,manual_insertion
0,AR,Aldosivi,Aldosivi,100,Altos,62,CA Aldosivi Reserves,57,Bolivia,53,...,45,CA Florida,44,El Porvenir,42,Almagro,40,Rosario,40,NaN
1,AR,Argentinos Juniors,Argentinos Juniors,100,Argentinos Juniors Res,90,Argentinos Jrs,88,Argentinos Juniors Reserves,80,...,67,Argentino,67,Argentino MM,67,Argentino Pergamino,65,Argentino Monte Maiz,63,NaN
2,AR,Arsenal,Arsenal FC,82,Arenas,77,Argentina,62,Arsenal FC (Arg),61,...,56,CA Regional,56,CA Barracas Central,54,Ros. Central,53,Barracas Central,52,NaN
3,AR,Atlético Rafaela,Atletico Rafaela,94,Atletico Parana,71,Atletico Campana,69,Atletico Raci,69,...,65,Atletico Marquesado,63,CA 9 de Julio (Rafaela),62,Club Atletico Parana,61,Rafaela,61,NaN
4,AR,Atlético Tucumán,Atletico Tucuman,88,Club Atletico Tucuman,76,Atl Tucuman,74,Atletico Campana,62,...,59,Atletico Parana,58,Atletico Cuyaya,58,Atletico Camioneros,57,Atletico Concepcion,57,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,US,SJ Earthquakes,San Jose Earthquakes,82,San Jose Earthquakes II,76,Martinique,50,Schalke,48,...,44,Santa Cruz Breakers FC,44,Santa Cruz Breaker,44,Fort Worth Vaqueros FC,44,Real Salt Lake,43,NaN
535,US,Seattle Sounders,Seattle Sounders,100,Seattle Sounders 2,94,Seattle Sounders II,91,Seattle Sounders FC II,84,...,53,Golden State Misioneros,51,Real Monarchs SL,50,Oakland Stompers,50,Western Mass Pioneers,49,NaN
536,US,Sporting KC,Sporting Kansas,77,Sporting Orlando,67,Sporting Kansas City II,65,Khalsa Sporting Club,65,...,50,Austin FC,50,Fort Wayne FC,50,Boston FC,50,Floridians FC,50,Kansas City
537,US,Toronto,Toronto FC,82,Toronto FC II,70,Toronto Croatia,64,Tormenta 2,59,...,47,Cotonsport,47,Fiorentina,47,Dragon,46,El Farolito,44,NaN
538,US,Vancouver Whitecaps,Vancouver Whitecaps,100,Vancouver Whitecaps II,93,Vancouver Utd,69,Vancouver Thunderbirds,63,...,43,Seacoast United Phantoms,42,Lane United FC,42,San Jose Earthquakes,41,Southern C Seahorses,41,NaN

In [33]:
df_matches

,country_code,team_name,bf_team1,score1,bf_team2,score2,bf_team3,score3,bf_team4,score4,...,score9,bf_team10,score10,bf_team11,score11,bf_team12,score12,bf_team13,score13,manual_insertion
0,AR,Aldosivi,1,100,0,62,0,57,0,53,...,45,0,44,0,42,0,40,0,40,0
1,AR,Argentinos Juniors,1,100,0,90,1,88,0,80,...,67,0,67,0,67,0,65,0,63,0
2,AR,Arsenal,1,82,0,77,0,62,1,61,...,56,0,56,0,54,0,53,0,52,0
3,AR,Atlético Rafaela,1,94,0,71,0,69,0,69,...,65,0,63,0,62,0,61,1,61,0
4,AR,Atlético Tucumán,1,88,1,76,1,74,0,62,...,59,0,58,0,58,0,57,0,57,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,US,SJ Earthquakes,1,82,0,76,0,50,0,48,...,44,0,44,0,44,0,44,0,43,0
535,US,Seattle Sounders,1,100,0,94,0,91,0,84,...,53,0,51,0,50,0,50,0,49,0
536,US,Sporting KC,1,77,0,67,0,65,0,65,...,50,0,50,0,50,0,50,0,50,1
537,US,Toronto,1,82,0,70,0,64,0,59,...,47,0,47,0,47,0,46,0,44,0
538,US,Vancouver Whitecaps,1,100,0,93,0,69,0,63,...,43,0,42,0,42,0,41,0,41,0

In [34]:
df_matches.manual_insertion.value_counts()

0    514
1     25
Name: manual_insertion, dtype: int64

In [35]:
df.manual_insertion.value_counts()

Club Mutual Crucero del    1
Leeds                      1
Zenit St Petersburg        1
Academica                  1
Az Alkmaar                 1
Spal                       1
Modena FC 2018 SSD         1
SSD Bari                   1
Wolves                     1
Wigan                      1
QPR                        1
Man Utd                    1
Charlton                   1
Club Atletico Talleres     1
Lyon                       1
Gimnastic                  1
Alaves                     1
Leonesa                    1
Ath Bilbao B               1
Guizhou Renhe              1
Parana Clube FC            1
Ceara SC Fortaleza         1
America Futebol Clube      1
Velez                      1
Kansas City                1
Name: manual_insertion, dtype: int64

In [36]:
df.to_csv('../data/interim/team_names_for_manual_check_considering_first_round.csv')

In [37]:
df_matches.to_csv('../data/interim/team_matches_for_manual_check_considering_first_round.csv')

In [38]:
'Heerenveen (W)' in list(bf_team_names['team_name'])

True

In [41]:
[team for team in list(bf_team_names['team_name']) if 'U23' in team]

['Chelsea U23',
 'Guimaraes U23',
 'Vitoria Setubal FC U23',
 'Sporting Lisbon U23',
 'CD Cova Piedade U23',
 'Feirense U23',
 'Brighton U23',
 'Rio Ave FC U23',
 'CD Aves U23',
 'CS Maritimo Funchal U23',
 'Portimonense SC U23',
 'Sporting Braga U23']